/* Universal Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* End Universal Styles */

/* Body Styles */

.body {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

.content__about-me {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 700px;
}

.about-me__card {
  border-radius: 20px;
  border-style: solid;
  border-width: medium;
  border-color: #284e78;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(assets/technology_img.jpg);
  width: 850px;
  min-width: 850px;
  height: 300px;
}

.about-me__card-title {
  font-size: 28px;
  font-weight: 700;
  width: 850px;
  min-width: 850px;
  padding: 0px 15px;
  color: white;
}

.about-me__card-p {
  color: white;
  font-size: 18px;
  text-align: justify;
  width: 850px;
  min-width: 850px;
  padding: 8px 15px;
}

/* End Body Styles */

/* Inicio de Media Queries para Header del Portafolio */
@media screen and (max-width: 850px) {
  .about-me__card {
    width: 630px;
    min-width: 630px;
    height: 320px;
  }

  .about-me__card-title {
    font-size: 26px;
    width: 630px;
    min-width: 630px;
  }

  .about-me__card-p {
    font-size: 16px;
    width: 630px;
    min-width: 630px;
  }
}

/* Inicio de Media Queries para Header del Portafolio */
@media only screen and (max-width: 650px) {
  .about-me__card {
    width: 360px;
    min-width: 360px;
    height: 385px;
  }

  .about-me__card-title {
    font-size: 24px;
    width: 360px;
    min-width: 360px;
  }

  .about-me__card-p {
    font-size: 14px;
    width: 360px;
    min-width: 360px;
  }
}
