/* Universal Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* End Universal Styles */

/* Body Styles */

.body {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

/* End Body Styles */

/* Cover Page Styles */
.content__cover-page {
  align-items: center;
  background-color: #eeeeee;
  display: flex;
  height: 225px;
  justify-content: center;
  width: 100%;
}

.cover-page__img {
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  height: 200px;
  margin: 10px;
}

.cover-page__title {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-between;
  margin: 10px;
  min-width: 650px;
  width: 650px;
}

.cover-page__presentation {
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: center;
}

.cover-page__presentation--me {
  align-items: center;
  display: flex;
  font-size: 28px;
  font-weight: 200;
  height: 42px;
  margin: 0px;
  padding-left: 10px;
}

.cover-page__presentation--name {
  align-items: center;
  display: flex;
  font-size: 43px;
  font-weight: 900;
  height: 52px;
  margin: 0px;
  padding-left: 10px;
}

.cover-page__rank {
  align-items: center;
  background-color: #005a8d;
  color: white;
  display: flex;
  justify-content: flex-end;
  font-size: 32px;
  font-weight: 700;
  height: 50px;
  margin: 0px;
  padding-right: 10px;
  text-shadow: 2px 2px 4px #dddddd;
}
/* End Cover Page Styles */

/* Inicio de Media Queries para Header del Portafolio */
@media screen and (max-width: 850px) {
  .content__cover-page {
    height: 195px;
  }

  .cover-page__img {
    height: 180px;
  }

  .cover-page__title {
    height: 150px;
    min-width: 450px;
    width: 450px;
  }

  .cover-page__presentation {
    height: 100px;
  }

  .cover-page__presentation--me {
    font-size: 22px;
    height: 30px;
  }

  .cover-page__presentation--name {
    font-size: 36px;
    height: 45px;
  }

  .cover-page__rank {
    font-size: 24px;
    height: 38px;
  }
}

/* Inicio de Media Queries para Header del Portafolio */
@media only screen and (max-width: 650px) {
  /* Estilos para el cover */
  .content__cover-page {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    min-width: 370px;
    height: 305px;
  }
  .cover-page__img {
    height: 155px;
    margin: 0px;
  }

  .cover-page__title {
    height: 135px;
    margin: 0px;
    min-width: 360px;
    width: 360px;
  }

  .cover-page__presentation {
    height: 90px;
  }

  .cover-page__presentation--me {
    font-size: 18px;
    height: 28px;
  }

  .cover-page__presentation--name {
    font-size: 30px;
    height: 42px;
  }

  .cover-page__rank {
    font-size: 20px;
    height: 36px;
  }
  /* Fin cover */
}
