/* Universal Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* End Universal Styles */

/* Body Styles */

.body {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

/* End Body Styles */

/* Cover Page Styles */
.content__cover-page {
  align-items: flex-end;
  background-color: #eeeeee;
  display: flex;
  height: 225px;
  justify-content: center;
  width: 100%;

  border-style: solid;
  border-color: maroon;
}

.cover__page--img {
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  height: 200px;
  margin: 8px;
  border-style: solid;
  border-color: maroon;
}

.cover__page--title {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  margin: 8px;
  width: 650px;
  border-style: solid;
  border-color: maroon;
}

.cover__page--me {
  align-items: center;
  display: flex;
  font-size: 28px;
  font-weight: 200;
  height: 42px;
  margin: 0px;
  padding-left: 10px;
}

.cover__page--name {
  align-items: center;
  display: flex;
  font-size: 43px;
  font-weight: 900;
  height: 52px;
  margin: 0px;
  padding-left: 10px;
}

.cover__page--rank {
  align-items: center;
  background-color: #005a8d;
  color: white;
  display: flex;
  justify-content: flex-end;
  font-size: 32px;
  font-weight: 700;
  height: 50px;
  margin: 0px;
  padding-right: 10px;
  text-shadow: 2px 2px 4px #dddddd;
}
/* End Cover Page Styles */

/* Inicio de Media Queries para Header del Portafolio */
@media screen and (max-width: 850px) {
  .content__cover-page {
    height: 205px;
  }

  .cover__page--img {
    height: 180px;
  }

  .cover__page--title {
    height: 180px;
    width: 450px;
  }

  .cover__page--me {
    font-size: 22px;
    height: 30px;
  }

  .cover__page--name {
    font-size: 36px;
    height: 45px;
  }

  .cover__page--rank {
    font-size: 24px;
    height: 38px;
  }
}

/* Inicio de Media Queries para Header del Portafolio */
@media only screen and (max-width: 650px) {
  /* Estilos para el cover */
  .content__cover-page {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    height: 385px;
  }
  .cover__page--img {
    height: 160px;
  }

  .cover__page--title {
    height: 160px;
  }

  .cover__page--me {
    font-size: 20px;
    height: 28px;
  }

  .cover__page--name {
    font-size: 34px;
    height: 42px;
  }

  .cover__page--rank {
    font-size: 22px;
    height: 36px;
  }
  /* Fin cover */
}
