/* Universal Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* End Universal Styles */

/* Body Styles */

.body {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

/* End Body Styles */

/* Header Styles */

.header {
  align-items: center;
  background-color: #055052;
  display: flex;
  height: 80px;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  background-color: #132c33;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  min-width: 285px;
  text-align: center;
  width: 285px;
}

.header__logo--title {
  color: white;
  font-size: 32px;
  font-weight: 700;
  margin: 0px;
  padding: 0px 10px;
}

.header__logo--icon {
  color: #4aa96c;
  font-size: 37px;
}

.header__menu {
  background-color: #055052;
  display: flex;
  height: 80px;
  justify-content: flex-end;
  text-align: center;
}

.header__menu--list {
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0 5px;
}

.header__menu--item {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 110px;
  min-width: 110px;
}

.header__menu--link {
  align-items: center;
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  height: 40px;
  padding: 0 10px;
  text-decoration: none;
}

.header__menu--link:hover {
  background-color: #1eae98;
  border-radius: 7px;
}
/* End Header Styles */

/* Main content Styles */
.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: space-evenly;
  line-height: 3rem;
  outline: 1px solid rgb(15, 115, 247);
}

/* Cover Page Styles */
.content__cover-page {
  align-items: flex-end;
  background-color: #eeeeee;
  display: flex;
  height: 230px;
  justify-content: center;
  width: 100%;
}

.cover__page--img {
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  height: 200px;
  margin: 8px;
  width: 200px;
}

.cover__page--title {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin: 8px;
  width: 600px;
}

.cover__page--me {
  align-items: center;
  display: flex;
  font-size: 28px;
  font-weight: 200;
  height: 45px;
  margin: 0px;
  padding-left: 10px;
}

.cover__page--name {
  align-items: center;
  display: flex;
  font-size: 43px;
  font-weight: 900;
  height: 60px;
  margin: 0px;
  padding-left: 10px;
}

.cover__page--rank {
  align-items: center;
  background-color: #005a8d;
  color: white;
  display: flex;
  justify-content: flex-end;
  font-size: 32px;
  font-weight: 700;
  height: 50px;
  margin: 0px;
  padding-right: 10px;
  text-shadow: 2px 2px 4px #dddddd;
}
/* End Cover Page Styles */

.content__about-me {
  line-height: 3rem;
  outline: 1px solid rgb(0, 166, 255);
  text-align: center;
  width: 200px;
}

.content__services {
  line-height: 3rem;
  outline: 1px solid rgb(0, 166, 255);
  text-align: center;
  width: 200px;
}

.content__works {
  line-height: 3rem;
  outline: 1px solid rgb(0, 166, 255);
  text-align: center;
  width: 200px;
}

.content__contact {
  line-height: 3rem;
  outline: 1px solid rgb(0, 166, 255);
  text-align: center;
  width: 200px;
}

/* End Main content Styles */

.footer {
  height: 50px;
  line-height: 3rem;
  outline: 1px solid rgb(247, 69, 15);
  text-align: center;
}

/* Inicio de Media Queries para Header del Portafolio */
@media screen and (max-width: 850px) {
  .header__logo {
    min-width: 260px;
    width: 260px;
  }

  .header__logo--title {
    font-size: 28px;
  }

  .header__logo--icon {
    font-size: 33px;
  }

  .header__menu--item {
    width: 95px;
    min-width: 95px;
  }

  .header__menu--link {
    font-size: 16px;
    height: 38px;
  }
}

/* Inicio de Media Queries para Header del Portafolio */
@media only screen and (max-width: 650px) {
  .header {
    display: flex;
    flex-direction: column;
    height: 100px;
  }

  .header__logo {
    height: 50px;
    width: 100%;
  }

  .header__logo--title {
    font-size: 24px;
  }

  .header__logo--icon {
    font-size: 29px;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
  }

  .header__menu--list {
    min-width: 340px;
    padding: 0 10px;
  }

  .header__menu--item {
    min-width: 85px;
    width: 85px;
  }

  .header__menu--link {
    font-size: 12px;
    height: 30px;
  }
}
