/* Start General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Mulish", sans-serif;

  display: flex;
  flex-direction: row;

  margin: 0;

  background-color: #e6e6e6;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus-visible {
  border-style: solid;
  border-color: #0021da;
  outline: none;
}

.inputHidden {
  display: flex;
}

.nav-button {
  align-items: center;
  background-color: #0f52ba;
  border-radius: 8px;
  color: white;
  display: flex;
  font-size: 28px;
  font-weight: bold;
  height: 45px;
  justify-content: center;
  text-decoration: none;
  transition: font-size 0.5s;
  width: 45px;
}

.nav-button:hover {
  font-size: 34px;
}

.main {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;
}

.header {
  font-size: 20px;
  font-weight: bold;

  display: flex;

  width: 100%;
  height: 70px;

  color: white;
  background-color: #035397;

  align-items: center;
  justify-content: flex-start;
}

.mainContent {
  font-size: 20px;
  font-weight: bold;

  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100vh;

  color: white;

  align-items: center;
  justify-content: center;
}

.sidebar {
  font-size: 20px;
  font-weight: bold;

  display: flex;

  width: 230px;
  height: inherit;

  color: white;
  background-color: #152d35;

  justify-content: center;
  align-items: flex-start;
}

.content {
  font-size: 20px;
  font-weight: bold;

  display: flex;

  width: 100%;
  height: inherit;

  color: white;
  background-color: #206a5d;
  position: relative;

  justify-content: center;
  align-items: center;
}

.content::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.65);
}

.footer {
  font-size: 20px;
  font-weight: bold;

  display: flex;

  width: 100%;
  height: 70px;

  color: white;
  background-color: #035397;

  align-items: center;
  justify-content: center;
}

/* End General Styles */

/* Start Media Queries Screens 1200px */
@media screen and (max-width: 1200px) {
  /* Start General Styles */
  .nav-button {
    font-size: 26px;
    height: 43px;
    width: 43px;
  }

  .nav-button:hover {
    font-size: 32px;
  }

  .header {
    font-size: 18px;

    height: 68px;
  }

  .sidebar {
    font-size: 18px;

    width: 205px;
  }

  .content {
    font-size: 18px;
  }

  .footer {
    font-size: 18px;

    height: 68px;
  }
  /* End General Styles */
}
/* End Media Queries Screens 1200px */

/* Start Media Queries Screens 850px */
@media screen and (max-width: 850px) {
  /* Start General Styles */
  .nav-button {
    font-size: 24px;
    height: 41px;
    width: 41px;
  }

  .nav-button:hover {
    font-size: 30px;
  }

  .header {
    font-size: 16px;

    height: 66px;
  }

  .sidebar {
    font-size: 16px;

    width: 75px;
  }

  .content {
    font-size: 18px;
  }

  .footer {
    font-size: 16px;

    height: 66px;
  }
  /* End General Styles */
}
/* End Media Queries Screens 850px */

/* Start Media Queries Screens 650px */
@media screen and (max-width: 650px) {
  /* Start General Styles */
  .nav-button {
    font-size: 22px;
    height: 39px;
    width: 39px;
  }

  .nav-button:hover {
    font-size: 28px;
  }

  .header {
    font-size: 14px;

    height: 64px;
  }

  .mainContent {
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: center;
    justify-content: center;
  }

  .sidebar {
    font-size: 14px;

    width: 100%;
    height: 0px;

    display: flex;
    justify-content: flex-start;
    padding: 0px;
  }

  .content {
    font-size: 18px;
  }

  .footer {
    font-size: 14px;

    height: 64px;
  }
  /* End General Styles */
}
/* End Media Queries Screens 650px */
