/* Start General Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: row;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus-visible {
  border-color: #0021da;
  border-style: solid;
  outline: none;
}

.sidebar {
  background-color: #343a40;
  width: 210px;
  min-height: 100vh;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

.header {
  background-color: #035397;
  min-width: 100%;
  min-height: 70px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  align-items: center;
  background-color: #515e63;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  min-width: 100%;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.footer {
  align-items: center;
  background-color: #035397;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  height: 70px;
  justify-content: center;
  width: 100%;
}

/* End General Styles */

/* Start Media Queries Screems 850px */
@media screen and (max-width: 850px) {
  /* Start General Styles */

  .sidebar {
    min-width: 220px;
    min-height: 100vh;
    font-size: 18px;
    display: none;
  }

  .footer {
    height: 65px;
    font-size: 18px;
  }

  .header {
    height: 65px;
    font-size: 18px;
  }

  /* End General Styles */
}
/* End Media Queries Screems 850px */

/* Start Media Queries Screems 650px */
@media screen and (max-width: 650px) {
  /* Start General Styles */

  .sidebar {
    min-width: 100%;
    min-height: 100vh;
    font-size: 16px;
    display: none;
  }

  .footer {
    height: 60px;
    font-size: 16px;
  }

  .header {
    height: 60px;
    font-size: 16px;
  }

  /* End General Styles */
}
/* End Media Queries Screems 650px */
