/* Start General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Mulish", sans-serif;

  display: flex;
  flex-direction: row;

  margin: 0;

  background-color: #e6e6e6;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus-visible {
  border-style: solid;
  border-color: #0021da;
  outline: none;
}

.main {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;
}

.header {
  font-size: 20px;
  font-weight: bold;

  display: flex;

  min-width: 100%;
  min-height: 70px;

  color: white;
  background-color: #035397;

  align-items: center;
  justify-content: flex-start;
}

.main__content {
  font-size: 20px;
  font-weight: bold;

  display: flex;
  flex-direction: row;

  min-width: 100%;
  min-height: 100vh;

  color: white;

  align-items: center;
  justify-content: center;
}

.sidebar {
  font-size: 20px;
  font-weight: bold;

  display: flex;
  flex-direction: column;

  width: 255px;
  height: 100vh;
  padding-top: 8px;

  color: white;
  background-color: #343a40;

  justify-content: flex-start;
  align-items: center;
}

.content {
  font-size: 20px;
  font-weight: bold;

  display: flex;

  width: 100%;
  min-height: 100vh;

  color: white;
  background-color: #515e63;

  justify-content: center;
  align-items: center;
}

.footer {
  font-size: 20px;
  font-weight: bold;

  display: flex;

  width: 100%;
  height: 70px;

  color: white;
  background-color: #035397;

  align-items: center;
  justify-content: center;
}
/* End General Styles */

/* Start Media Queries Screens 850px */
@media screen and (max-width: 850px) {
  /* Start General Styles */
  .header {
    font-size: 18px;

    min-height: 65px;
  }

  .sidebar {
    width: 235px;
  }

  .footer {
    font-size: 18px;

    height: 65px;
  }
  /* End General Styles */
}
/* End Media Queries Screens 850px */

/* Start Media Queries Screens 650px */
@media screen and (max-width: 650px) {
  /* Start General Styles */
  .header {
    font-size: 16px;

    position: absolute;

    min-height: 60px;
  }

  .main__content {
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: center;
    justify-content: center;
  }

  .sidebar {
    display: flex;

    width: 100%;
    height: 0;
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 15px;

    justify-content: flex-end;
    align-items: flex-start;
  }

  .footer {
    font-size: 16px;

    height: 60px;
  }
  /* End General Styles */
}
/* End Media Queries Screens 650px */
