/* Start General Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

/* End General Styles */

/* Start Component 1 - Header Styles */

.header {
  align-items: center;
  background-color: #0e7608;
  display: flex;
  height: 80px;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  min-width: 285px;
  text-align: center;
  width: 285px;
}

.header__logo--title {
  color: white;
  font-size: 32px;
  font-weight: 700;
  margin: 0px;
  padding: 0px 10px;
}

.header__logo--icon {
  color: #f3b712;
  font-size: 37px;
}

.header__menu {
  display: flex;
  height: 80px;
  justify-content: flex-end;
  text-align: center;
}

.header__menu--list {
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0 5px;
}

.header__menu--item {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 110px;
  min-width: 110px;
}

.header__menu--link {
  align-items: center;
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  height: 40px;
  padding: 0 10px;
  text-decoration: none;
}

.header__menu--link:hover {
  background-color: #e98606;
  border-radius: 7px;
}

/* End Component 1 - Header Styles */

/* Start Component 2 - Cover Page Styles */

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 1500px;
  justify-content: space-evenly;
  line-height: 3rem;
  outline: 1px solid rgb(15, 115, 247);
}

.content__cover-page {
  align-items: center;
  background-color: #efefef;
  display: flex;
  height: 225px;
  justify-content: center;
  width: 100%;
}

.cover-page__img {
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  height: 200px;
  margin: 10px;
}

.cover-page__title {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-between;
  margin: 10px;
  min-width: 650px;
  width: 650px;
}

.cover-page__presentation {
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: center;
}

.cover-page__presentation--me {
  align-items: center;
  display: flex;
  font-size: 28px;
  font-weight: 200;
  height: 42px;
  margin: 0px;
  padding-left: 10px;
}

.cover-page__presentation--name {
  align-items: center;
  display: flex;
  font-size: 43px;
  font-weight: 900;
  height: 52px;
  margin: 0px;
  padding-left: 10px;
}

.cover-page__rank {
  align-items: center;
  background-color: #005a8d;
  color: white;
  display: flex;
  justify-content: flex-end;
  font-size: 32px;
  font-weight: 700;
  height: 50px;
  margin: 0px;
  padding-right: 10px;
  text-shadow: 2px 2px 4px #dddddd;
}

/* End Component 2 - Cover Page Styles */

/* Start Component 3 - About me Styles */

.content__about-me {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: space-between;
  width: 100%;
  /* border-style: solid; */
}

.about-me__card {
  align-items: center;
  background-image: url("/assets/technology_img.jpg");
  border-color: #284e78;
  border-radius: 20px;
  border-style: solid;
  border-width: medium;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  min-width: 850px;
  position: relative;
  width: 850px;
}

.about-me__card::before {
  background-color: #000;
  border-radius: 20px;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 0;
}

.about-me__card-title {
  color: white;
  font-size: 28px;
  font-weight: 700;
  min-width: 850px;
  padding: 0px 15px;
  position: relative;
  width: 850px;
}

.about-me__card-p {
  color: white;
  font-size: 18px;
  line-height: 25px;
  min-width: 850px;
  padding: 8px 15px;
  position: relative;
  text-align: justify;
  width: 850px;
}
/* End Component 3 - About me Styles */

.content__services {
  line-height: 3rem;
  outline: 1px solid rgb(0, 166, 255);
  text-align: center;
  width: 200px;
}

.content__works {
  line-height: 3rem;
  outline: 1px solid rgb(0, 166, 255);
  text-align: center;
  width: 200px;
}

.content__contact {
  line-height: 3rem;
  outline: 1px solid rgb(0, 166, 255);
  text-align: center;
  width: 200px;
}

/* End Main content Styles */

.footer {
  height: 50px;
  line-height: 3rem;
  outline: 1px solid rgb(247, 69, 15);
  text-align: center;
}

/* Start Media Queries Screems 850px */
@media screen and (max-width: 850px) {
  /* Start Component 1 - Header Styles */
  .header__logo {
    min-width: 260px;
    width: 260px;
  }

  .header__logo--title {
    font-size: 28px;
  }

  .header__logo--icon {
    font-size: 33px;
  }

  .header__menu--item {
    width: 95px;
    min-width: 95px;
  }

  .header__menu--link {
    font-size: 16px;
    height: 38px;
  }
  /* End Component 1 - Header Styles */

  /* Start Component 2 - Cover Page Styles */
  .content__cover-page {
    height: 195px;
  }

  .cover-page__img {
    height: 180px;
  }

  .cover-page__title {
    height: 150px;
    min-width: 450px;
    width: 450px;
  }

  .cover-page__presentation {
    height: 100px;
  }

  .cover-page__presentation--me {
    font-size: 22px;
    height: 30px;
  }

  .cover-page__presentation--name {
    font-size: 36px;
    height: 45px;
  }

  .cover-page__rank {
    font-size: 24px;
    height: 38px;
  }
  /* End Component 2 - Cover Page Styles */

  /* Start Component 3 - About me Styles */
  .about-me__card {
    height: 320px;
    min-width: 630px;
    width: 630px;
  }

  .about-me__card-title {
    font-size: 26px;
    min-width: 630px;
    width: 630px;
  }

  .about-me__card-p {
    font-size: 16px;
    line-height: 20px;
    min-width: 630px;
    width: 630px;
  }
  /* End Component 3 - About me Styles */
}
/* End Media Queries Screems 850px */

/* Start Media Queries Screems 650px */
@media only screen and (max-width: 650px) {
  /* Start Component 1 - Header Styles */
  .header {
    display: flex;
    flex-direction: column;
    height: 100px;
  }

  .header__logo {
    height: 50px;
    width: 100%;
  }

  .header__logo--title {
    font-size: 24px;
  }

  .header__logo--icon {
    font-size: 29px;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
  }

  .header__menu--list {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    padding: 0px;
  }

  .header__menu--item {
    min-width: 85px;
    width: 85px;
  }

  .header__menu--link {
    font-size: 14px;
    height: 30px;
  }
  /* End Component 1 - Header Styles */

  /* Start Component 2 - Cover Page Styles */
  .content__cover-page {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    height: 305px;
    justify-content: space-between;
    min-width: 370px;
  }
  .cover-page__img {
    height: 155px;
    margin: 0px;
  }

  .cover-page__title {
    height: 135px;
    margin: 0px;
    min-width: 360px;
    width: 360px;
  }

  .cover-page__presentation {
    height: 90px;
  }

  .cover-page__presentation--me {
    font-size: 18px;
    height: 28px;
  }

  .cover-page__presentation--name {
    font-size: 30px;
    height: 42px;
  }

  .cover-page__rank {
    font-size: 20px;
    height: 36px;
  }
  /* End Component 2 - Cover Page Styles */

  /* Start Component 3 - About me Styles */
  .about-me__card {
    height: 385px;
    min-width: 360px;
    width: 360px;
  }

  .about-me__card-title {
    font-size: 24px;
    min-width: 360px;
    width: 360px;
  }

  .about-me__card-p {
    font-size: 14px;
    line-height: 18px;
    min-width: 360px;
    width: 360px;
  }
  /* End Component 3 - About me Styles */
}
/* End Media Queries Screems 650px */
