/* Estilos para toda la Página */

* {
  box-sizing: border-box;
}

/* Fin Todo */

/* Estilos para el body */

body {
  background-color: #eeeeee;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

/* Fin body */

.cover__container {
  align-items: center;
  background-color: #eeeeee;
  display: flex;
  height: 220px;
  justify-content: center;
  width: 100%;
}

.cover__container--img {
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  height: 200px;
  width: 200px;
}

.cover__container--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  height: 200px;
  width: 600px;
}

.cover__container--p_am {
  align-items: center;
  display: flex;
  font-size: 25px;
  font-weight: 200;
  height: 45px;
  margin: 0px;
  padding-left: 8px;
}

.cover__container--p_name {
  align-items: center;
  display: flex;
  font-size: 40px;
  font-weight: 900;
  height: 60px;
  margin: 0px;
  padding-left: 8px;
}

.cover__container--p_rank {
  align-items: center;
  background-color: #005a8d;
  color: white;
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  font-weight: 700;
  height: 50px;
  margin: 0px;
  padding-right: 8px;
  text-shadow: 2px 2px 4px #dddddd;
}

/* Inicio de Media Queries para Header del Portafolio */
@media only screen and (max-width: 650px) {
}
