/* Estilos para toda la Página */

* {
  box-sizing: border-box;
}

/* Fin Todo */

/* Estilos para el body */

body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  background-color: #b1b6ae;
}

/* Fin Body */

/* Estilos para el Header */

.header {
  overflow: hidden;
  background-color: #11698e;
  height: 75px;
  padding: 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
  font-weight: bold;
}
/* Fin Header */

/* Efectos de Hover y Active */

.header a:hover {
  background-color: #1597bb;
  color: white;
}

.header a.active {
  background-color: #548ca8;
  color: white;
}

/* Fin Efectos */

/* Estilos para sección de Logo */

#header__logo--name {
  color: white;
  font-size: 30px;
}

#header__logo--img {
  color: #f7fd04;
}

/* Fin Logo */

/* Estilos para sección de Menú */

.header__menu {
  float: right;
  height: 70px;
  font-size: 18px;
}

@media screen and (max-width: 500px) {
  .header__menu--item {
    float: none;
    display: block;
    text-align: left;
  }

  .header__menu {
    float: none;
  }
}

/* Fin Menú */
