/* Estilos para toda la Página */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Fin Todo */

/* Estilos para el body */

.body {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

/* Fin body */

.header {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.header__logo {
  background-color: #132c33;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  min-width: 285px;
  text-align: center;
  width: 285px;
}

.header__logo--title {
  color: white;
  font-size: 32px;
  font-weight: 700;
  margin: 0px;
  padding: 0px 10px;
}

.header__logo--icon {
  color: #4aa96c;
  font-size: 37px;
}

.header__menu {
  background-color: #055052;
  display: flex;
  height: 80px;
  justify-content: flex-end;
  text-align: center;
  width: 100%;
}

.header__menu--list {
  align-items: center;
  display: flex;
  list-style: none;
}

.header__menu--item {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 110px;
}

.header__menu--link {
  align-items: center;
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  height: 40px;
  padding: 0 10px;
  text-decoration: none;
}

.header__menu--link:hover {
  background-color: #1eae98;
  border-radius: 7px;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-evenly;
  line-height: 3rem;
  outline: 1px solid rgb(15, 115, 247);
}

.content__cover-page {
  line-height: 3rem;
  outline: 1px solid rgb(0, 166, 255);
  text-align: center;
  width: 200px;
}

.content__about-me {
  line-height: 3rem;
  outline: 1px solid rgb(0, 166, 255);
  text-align: center;
  width: 200px;
}

.content__services {
  line-height: 3rem;
  outline: 1px solid rgb(0, 166, 255);
  text-align: center;
  width: 200px;
}

.content__works {
  line-height: 3rem;
  outline: 1px solid rgb(0, 166, 255);
  text-align: center;
  width: 200px;
}

.content__contact {
  line-height: 3rem;
  outline: 1px solid rgb(0, 166, 255);
  text-align: center;
  width: 200px;
}

.footer {
  height: 50px;
  line-height: 3rem;
  outline: 1px solid rgb(247, 69, 15);
  text-align: center;
}

/* Inicio de Media Queries para Header del Portafolio */
@media screen and (max-width: 850px) {
  .header__logo {
    min-width: 260px;
    width: 260px;
  }

  .header__logo--title {
    font-size: 28px;
  }

  .header__logo--icon {
    font-size: 33px;
  }

  .header__menu--item {
    width: 95px;
  }

  .header__menu--link {
    font-size: 16px;
    height: 38px;
  }
}

/* Inicio de Media Queries para Header del Portafolio */
@media only screen and (max-width: 650px) {
  .header {
    display: flex;
    flex-direction: column;
    height: 100px;
  }

  .header__logo {
    height: 50px;
    width: 100%;
  }

  .header__logo--title {
    font-size: 24px;
  }

  .header__logo--icon {
    font-size: 29px;
  }

  .header__menu {
    display: flex;
    height: 50px;
    justify-content: center;
  }

  .header__menu--item {
    width: 110px;
  }

  .header__menu--link {
    font-size: 14px;
    height: 30px;
  }
}
