/* Start General Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus-visible {
  border-color: #0021da;
  border-style: solid;
  outline: none;
}

/* End General Styles */

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-height: 76.8vh; */
  min-height: 76.8vh;
}

/* Start Media Queries Screems 850px */
@media screen and (max-width: 850px) {
  .content {
    min-height: 77.2vh;
  }
}
/* End Media Queries Screems 850px */

/* Start Media Queries Screems 650px */
@media screen and (max-width: 650px) {
  .content {
    min-height: 78.8vh;
  }
}
/* End Media Queries Screems 650px */
