/* Start General Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus-visible {
  border-color: #0021da;
  border-style: solid;
  outline: none;
}

.nav-button {
  align-items: center;
  background-color: #0f52ba;
  border-radius: 8px;
  color: white;
  display: flex;
  font-size: 28px;
  font-weight: bold;
  height: 45px;
  justify-content: center;
  text-decoration: none;
  transition: font-size 0.5s;
  width: 45px;
}

.nav-button:hover {
  font-size: 34px;
}

/* End General Styles */

/* Start Component 2 - Cover Page Styles */

/* @keyframes slideInFromBottom {
  0% {
    transform: translateY(-32%);
  }
  100% {
    transform: translateX(0%);
  }
} */

.content__cover-page {
  align-items: center;
  background-image: url("../../assets/cover_page_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.content__cover-page::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.65);
}

.cover-page__card {
  align-items: center;
  /* animation: 1.2s ease-out 0s 1 slideInFromBottom; */
  display: flex;
  flex-direction: column;
  height: 285px;
  justify-content: space-between;
  min-width: 850px;
  position: relative;
  width: 850px;
}

.cover-page__card--profile {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile__fig {
  filter: drop-shadow(0 0 7px #292828);
}

.profile__fig--img {
  image-rendering: pixelated;
  height: 200px;
  margin: 10px;
}

.profile__title {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-between;
  margin: 10px;
  min-width: 605px;
  width: 605px;
}

.profile__title--presentation {
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: center;
}

.presentation__me {
  align-items: center;
  color: white;
  display: flex;
  font-size: 28px;
  height: 42px;
  margin: 0px;
  padding-left: 10px;
}

.presentation__name {
  align-items: center;
  color: white;
  display: flex;
  font-size: 43px;
  font-weight: 900;
  height: 52px;
  margin: 0px;
  padding-left: 10px;
}

.profile__title--rank {
  align-items: center;
  background-color: #63b603;
  color: white;
  display: flex;
  font-size: 32px;
  font-weight: 900;
  height: 50px;
  justify-content: flex-end;
  margin: 0px;
  padding-right: 10px;
  text-shadow: 2px 2px 4px #dddddd;
}

.cover-page__card--buttons {
  display: flex;
  justify-content: flex-end;
  min-width: 850px;
}

/* End Component 2 - Cover Page Styles */

/* Start Media Queries Screems 850px */
@media screen and (max-width: 850px) {
  /* Start Component 2 - Cover Page Styles */
  .content__cover-page {
    height: 120vh;
  }

  .cover-page__card {
    height: 260px;
    min-width: 630px;
    width: 630px;
  }

  .profile__fig--img {
    height: 180px;
  }

  .profile__title {
    height: 150px;
    min-width: 405px;
    width: 405px;
  }

  .profile__title--presentation {
    height: 100px;
  }

  .presentation__me {
    font-size: 22px;
    height: 30px;
  }

  .presentation__name {
    font-size: 36px;
    height: 45px;
  }

  .profile__title--rank {
    font-size: 24px;
    height: 38px;
  }

  .cover-page__card--buttons {
    min-width: 630px;
  }

  .nav-button {
    font-size: 24px;
    height: 40px;
    width: 40px;
  }

  .nav-button:hover {
    font-size: 30px;
  }

  /* End Component 2 - Cover Page Styles */
}
/* End Media Queries Screems 850px */

/* Start Media Queries Screems 650px */
@media only screen and (max-width: 650px) {
  /* Start Component 2 - Cover Page Styles */

  .content__cover-page {
    align-items: center;
    display: flex;
    justify-content: center;
    /* min-height: 82vh; */
  }

  .cover-page__card {
    height: 352px;
    min-width: 360px;
    width: 360px;
  }

  .cover-page__card--profile {
    display: flex;
    flex-direction: column-reverse;
    height: 302px;
    justify-content: space-between;
  }

  .profile__fig--img {
    height: 155px;
    margin: 0px;
  }

  .profile__title {
    height: 122px;
    margin: 0px;
    min-width: 360px;
    width: 360px;
  }

  .profile__title--presentation {
    height: 80px;
  }

  .presentation__me {
    font-size: 18px;
    height: 28px;
  }

  .presentation__name {
    font-size: 30px;
    height: 42px;
  }

  .profile__title--rank {
    font-size: 20px;
    height: 36px;
  }

  .cover-page__card--buttons {
    min-width: 360px;
  }

  .nav-button {
    font-size: 22px;
    height: 37px;
    width: 37px;
  }

  .nav-button:hover {
    font-size: 28px;
  }

  /* End Component 2 - Cover Page Styles */
}
/* End Media Queries Screems 650px */
