/*Start General Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

a:focus-visible {
  border-color: #0021da;
  border-style: solid;
  outline: none;
}

/*End General Styles */

/* Start Component 1 - Header Styles */

.header {
  align-items: center;
  background-color: #067179;
  display: flex;
  height: 80px;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  min-width: 285px;
  text-align: center;
  width: 285px;
}

.header__logo--title {
  color: white;
  font-size: 32px;
  font-weight: 700;
  margin: 0px;
  padding: 0px 10px;
}

.header__logo--icon {
  color: #cad315;
  font-size: 37px;
}

.header__menu {
  display: flex;
  height: 80px;
  justify-content: flex-end;
  text-align: center;
}

.header__menu--list {
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0 5px;
}

.header__menu--item {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 110px;
  min-width: 110px;
}

.header__menu--link {
  align-items: center;
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  height: 40px;
  padding: 0 10px;
  text-decoration: none;
}

.header__menu--link:hover {
  background-color: #e98606;
  border-radius: 7px;
}
/* End Component 1 - Header Styles */

/* Start Media Queries Screems 850px */
@media screen and (max-width: 850px) {
  /* Start Component 1 - Header Styles */
  .header__logo {
    min-width: 260px;
    width: 260px;
  }

  .header__logo--title {
    font-size: 28px;
  }

  .header__logo--icon {
    font-size: 33px;
  }

  .header__menu--item {
    width: 95px;
    min-width: 95px;
  }

  .header__menu--link {
    font-size: 16px;
    height: 38px;
  }
  /* End Component 1 - Header Styles */
}
/* End Media Queries Screems 850px */

/* Start Media Queries Screems 650px */
@media only screen and (max-width: 650px) {
  /* End Component 1 - Header Styles */
  .header {
    display: flex;
    flex-direction: column;
    height: 100px;
  }

  .header__logo {
    height: 50px;
    width: 100%;
  }

  .header__logo--title {
    font-size: 24px;
  }

  .header__logo--icon {
    font-size: 29px;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
  }

  .header__menu--list {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    padding: 0px;
  }

  .header__menu--item {
    min-width: 85px;
    width: 85px;
  }

  .header__menu--link {
    font-size: 14px;
    height: 30px;
  }
  /* End Component 1 - Header Styles */
}
/* End Media Queries Screems 850px */
