/* Start Component 1 - Header Styles */
.header__logo {
  display: flex;
  flex-direction: row-reverse;

  width: 100%;
  height: 70px;
  padding: 0 14px;

  color: white;

  align-items: center;
  justify-content: space-between;
}

.logo__hamburger-buttom {
  font-size: 22px;

  display: flex;

  width: 42px;
  height: 42px;

  text-decoration: none;

  color: white;
  border-width: thin;
  border-style: solid;
  border-radius: 3px;

  align-items: center;
  justify-content: center;
}

.logo__icon {
  font-size: 30px;
  font-weight: 700;

  display: flex;

  min-width: 210px;
  height: 56px;

  text-decoration: none;

  color: white;

  align-items: center;
  justify-content: space-between;
}

.logo__icon i {
  font-size: 34px;

  color: #ff7600;
}
/* End Component 1 - Header Styles */

/* Start Media Queries Screens 1280px */
@media screen and (max-width: 1280px) {
  /* Start Component 1 - Header Styles */
  .header__logo {
    height: 68px;
    padding: 0 12px;
  }

  .logo__hamburger-buttom {
    font-size: 20px;

    width: 40px;
    height: 40px;
  }

  .logo__icon {
    font-size: 28px;

    min-width: 196px;
    height: 54px;
  }

  .logo__icon i {
    font-size: 32px;
  }

  /* End Component 1 - Header Styles */
}
/* End Media Queries Screens 1280px */

/* Start Media Queries Screens 950px */
@media screen and (max-width: 950px) {
  /* Start Component 1 - Header Styles */
  .header__logo {
    height: 66px;
    padding: 0 10px;
  }

  .logo__hamburger-buttom {
    font-size: 18px;

    width: 38px;
    height: 38px;
  }

  .logo__icon {
    font-size: 26px;

    min-width: 183px;
    height: 52px;
  }

  .logo__icon i {
    font-size: 30px;
  }
  /* End Component 1 - Header Styles */
}
/* End Media Queries Screens 950px */

/* Start Media Queries Screens 700px */
@media only screen and (max-width: 700px) {
  /* Start Component 1 - Header Styles */
  .header__logo {
    height: 64px;
    padding: 0 8px;
  }

  .logo__hamburger-buttom {
    font-size: 16px;

    width: 36px;
    height: 36px;
  }

  .logo__icon {
    font-size: 24px;

    min-width: 168px;
    height: 50px;
  }

  .logo__icon i {
    font-size: 28px;
  }
  /* End Component 1 - Header Styles */
}
/* End Media Queries Screens 700px */
