/*Start General Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

a:focus-visible {
  border-color: #0021da;
  border-style: solid;
  outline: none;
}

/*End General Styles */

/* Start Component 1 - Header Styles */

.header {
  align-items: center;
  background-color: #206a5d;
  display: flex;
  height: 80px;
  justify-content: space-between;
  width: 100%;
}

.header__nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}

.header__nav--logo {
  display: flex;
  flex-direction: row;
  color: white;
  /* border-style: solid; */
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  min-width: 255px;
  width: 255px;
  height: 60px;
  justify-content: space-evenly;
  align-items: center;
}

.header__nav--icon {
  color: #fc8c23;
  font-size: 37px;
}

.header__nav--menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.menu__item {
  display: flex;
  width: 115px;
  min-width: 115px;
  /* border-style: solid; */
  text-align: center;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu__item:hover {
  background-color: #fc8c23;
  transition-duration: 0.7s;
  border-radius: 7px;
}

.menu__link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

/* End Component 1 - Header Styles */

/* Start Media Queries Screems 850px */
@media screen and (max-width: 850px) {
  /* Start Component 1 - Header Styles */

  .header {
    height: 70px;
  }

  .header__nav--logo {
    min-width: 235px;
    width: 235px;
    font-size: 28px;
  }

  .header__nav--icon {
    font-size: 33px;
  }

  .menu__item {
    width: 105px;
    min-width: 105px;
  }

  .menu__link {
    font-size: 15px;
  }

  /* End Component 1 - Header Styles */
}
/* End Media Queries Screems 850px */

/* Start Media Queries Screems 650px */
@media only screen and (max-width: 650px) {
  /* Start Component 1 - Header Styles */

  .header {
    height: 100px;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__nav--logo {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 24px;
  }

  .header__nav--icon {
    font-size: 29px;
    padding-right: 7px;
  }

  .header__nav--menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-width: 400px;
  }

  .menu__item {
    width: 95px;
    min-width: 95px;
  }

  .menu__link {
    font-size: 14px;
  }

  /* End Component 1 - Header Styles */
}
/* End Media Queries Screems 850px */
