/* Start General Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: row;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus-visible {
  border-color: #0021da;
  border-style: solid;
  outline: none;
}

.nav-button {
  align-items: center;
  background-color: #0f52ba;
  border-radius: 8px;
  color: white;
  display: flex;
  font-size: 28px;
  font-weight: bold;
  height: 45px;
  justify-content: center;
  text-decoration: none;
  transition: font-size 0.5s;
  width: 45px;
}

.nav-button:hover {
  font-size: 34px;
}

.header {
  align-items: center;
  background-color: #035397;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  min-height: 70px;
  min-width: 100%;
}

/* End General Styles */

/* Start Component 1 - Header Styles */

.header__logo {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  height: 70px;
  justify-content: space-between;
  padding: 0px 15px;
  width: 100%;
}

.logo__hamburger-buttom {
  align-items: center;
  border-style: solid;
  border-radius: 3px;
  border-width: thin;
  color: white;
  display: flex;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  width: 40px;
}

.logo__icon {
  align-items: center;
  color: white;
  display: flex;
  font-size: 30px;
  font-weight: 700;
  height: 55px;
  justify-content: space-between;
  min-width: 210px;
  text-decoration: none;
}

.logo__icon i {
  color: #ff7600;
  font-size: 34px;
}

/* End Component 1 - Header Styles */

/* Start Media Queries Screems 850px */
@media screen and (max-width: 850px) {
  /* Start Component 1 - Header Styles */

  .header {
    font-size: 18px;
    min-height: 65px;
  }

  .header__logo {
    height: 65px;
  }

  .logo__hamburger-buttom {
    font-size: 18px;
    height: 38px;
    width: 38px;
  }

  .logo__icon {
    font-size: 28px;
    height: 50px;
    min-width: 195px;
  }

  .logo__icon i {
    font-size: 32px;
  }
}

/* Start Media Queries Screems 650px */
@media only screen and (max-width: 650px) {
  /* Start Component 1 - Header Styles */

  .header {
    font-size: 16px;
    min-height: 60px;
    position: absolute;
  }

  .header__logo {
    height: 60px;
  }

  .logo__icon {
    font-size: 26px;
    height: 45px;
    min-width: 185px;
  }

  .logo__icon i {
    font-size: 30px;
  }
}
