/* Start General Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: row;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus-visible {
  border-color: #0021da;
  border-style: solid;
  outline: none;
}

.nav-button {
  align-items: center;
  background-color: #0f52ba;
  border-radius: 8px;
  color: white;
  display: flex;
  font-size: 28px;
  font-weight: bold;
  height: 45px;
  justify-content: center;
  text-decoration: none;
  transition: font-size 0.5s;
  width: 45px;
}

.nav-button:hover {
  font-size: 34px;
}

.header {
  background-color: #343a40;
  width: 270px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* .header:hover {
  min-width: 4.6rem;
} */

/* .header:hover .header__logo--name {
  display: none;
} */

/* End General Styles */

/* Start Component 1 - Header Styles */

.header__logo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
  border-style: solid;
}

.header__logo--hamburger-open {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: thin;
  text-decoration: none;
  border-radius: 3px;
}

.header__logo--hamburger-close {
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: thin;
  text-decoration: none;
  border-radius: 3px;
}

.header__logo--icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 26px;
  text-decoration: none;
  min-width: 205px;
  height: 40px;
  font-weight: 700;
  /* border-style: solid; */
}

.header__navbar {
  border-style: solid;
  border-color: green;
}

.header__navbar--menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu__item {
  align-items: stretch;
  list-style: none;
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: chocolate;
  width: 100px;
  height: 50px;
}
