/* Start Component 2 - Cover Page Styles */

.content__cover-page {
  align-items: center;
  /* background-image: url("../../assets/wooden_img.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(69, 86, 102, 1) 0%,
    rgba(34, 34, 34, 1) 90%
  );
  display: flex;
  min-height: 76vh;
  justify-content: center;
  width: 100%;
}

.cover-page__card {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 250px;
  justify-content: space-between;
  min-width: 850px;
  width: 850px;
}

.cover-page__card--img {
  image-rendering: pixelated;
  filter: drop-shadow(0 0 7px #292828);
  height: 200px;
  margin: 10px;
}

.cover-page__card--title {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-between;
  margin: 10px;
  min-width: 605px;
  width: 605px;
}

.title__presentation {
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: center;
}

.title__presentation--me {
  align-items: center;
  color: white;
  display: flex;
  font-size: 28px;
  height: 42px;
  margin: 0px;
  padding-left: 10px;
}

.title__presentation--name {
  align-items: center;
  color: white;
  display: flex;
  font-size: 43px;
  font-weight: 900;
  height: 52px;
  margin: 0px;
  padding-left: 10px;
}

.cover-page__card--rank {
  align-items: center;
  background-color: #63b603;
  color: white;
  display: flex;
  justify-content: flex-end;
  font-size: 32px;
  font-weight: 900;
  height: 50px;
  margin: 0px;
  padding-right: 10px;
  text-shadow: 2px 2px 4px #dddddd;
}
/* End Component 2 - Cover Page Styles */

/* Start Media Queries Screems 850px */
@media screen and (max-width: 850px) {
  /* Start Component 2 - Cover Page Styles */
  .content__cover-page {
    min-height: 77.2vh;
  }

  .cover-page__card {
    height: 235px;
    min-width: 630px;
    width: 630px;
  }

  .cover-page__card--img {
    height: 180px;
  }

  .cover-page__card--title {
    height: 150px;
    min-width: 405px;
    width: 405px;
  }

  .title__presentation {
    height: 100px;
  }

  .title__presentation--me {
    font-size: 22px;
    height: 30px;
  }

  .title__presentation--name {
    font-size: 36px;
    height: 45px;
  }

  .cover-page__card--rank {
    font-size: 24px;
    height: 38px;
  }
  /* End Component 2 - Cover Page Styles */
}
/* End Media Queries Screems 850px */

/* Start Media Queries Screems 650px */
@media only screen and (max-width: 650px) {
  /* Start Component 2 - Cover Page Styles */
  .content__cover-page {
    align-items: center;
    display: flex;
    /* height: 79vh; */
    justify-content: center;
    min-height: 80vh;
  }

  .cover-page__card {
    display: flex;
    flex-direction: column-reverse;
    height: 310px;
    justify-content: space-between;
    min-width: 360px;
    width: 360px;
  }

  .cover-page__card--img {
    height: 155px;
    margin: 0px;
  }

  .cover-page__card--title {
    height: 135px;
    margin: 0px;
    min-width: 360px;
    width: 360px;
  }

  .title__presentation {
    height: 90px;
  }

  .title__presentation--me {
    font-size: 18px;
    height: 28px;
  }

  .title__presentation--name {
    font-size: 30px;
    height: 42px;
  }

  .cover-page__card--rank {
    font-size: 20px;
    height: 36px;
  }
  /* End Component 2 - Cover Page Styles */
}
/* End Media Queries Screems 650px */
