/* Start General Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus-visible {
  border-color: #0021da;
  border-style: solid;
  outline: none;
}

.nav-button {
  align-items: center;
  /* border-style: solid; */
  color: #ff4c29;
  display: flex;
  font-size: 27px;
  font-weight: bold;
  justify-content: center;
  transition: font-size 0.5s;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.nav-button:hover {
  font-size: 35px;
}

/* End General Styles */

/* Start Component 2 - Cover Page Styles */

@keyframes slideInFromTop {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateX(0%);
  }
}

.content__cover-page {
  align-items: center;
  background-image: url("../../assets/cover_page_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 76vh;
  position: relative;
  width: 100%;
}

.content__cover-page::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.25);
}

.cover-page__card {
  align-items: center;
  animation: 1.2s ease-out 0s 1 slideInFromTop;
  display: flex;
  flex-direction: column;
  height: 290px;
  justify-content: space-between;
  min-width: 850px;
  position: relative;
  width: 850px;
  /* border-style: solid; */
}

.cover-page__card--profile {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border-style: solid; */
}

.profile__fig {
  filter: drop-shadow(0 0 7px #292828);
  position: relative;
}

.profile__fig--img {
  image-rendering: pixelated;
  height: 200px;
  margin: 10px;
}

.profile__title {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-between;
  margin: 10px;
  min-width: 605px;
  position: relative;
  width: 605px;
}

.profile__title--presentation {
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: center;
  position: relative;
}

.presentation__me {
  align-items: center;
  color: white;
  display: flex;
  font-size: 28px;
  height: 42px;
  margin: 0px;
  padding-left: 10px;
}

.presentation__name {
  align-items: center;
  color: white;
  display: flex;
  font-size: 43px;
  font-weight: 900;
  height: 52px;
  margin: 0px;
  padding-left: 10px;
}

.profile__title--rank {
  align-items: center;
  background-color: #63b603;
  color: white;
  display: flex;
  justify-content: flex-end;
  font-size: 32px;
  font-weight: 900;
  height: 50px;
  margin: 0px;
  padding-right: 10px;
  text-shadow: 2px 2px 4px #dddddd;
}

.cover-page__card--buttons {
  display: flex;
  justify-content: flex-end;
  /* border-style: solid; */
  min-width: 850px;
}

/* End Component 2 - Cover Page Styles */
