/* Start Component 2 - Sidebar Styles */
.sidebar__list {
  width: 215px;

  list-style: none;
  border-style: solid;
}

.expanded {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}

.collapsed {
  display: none;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}

.list__item {
  display: flex;

  height: 55px;

  align-items: center;
  justify-content: center;
}

.list__item a {
  font-size: 20px;

  display: flex;

  width: 185px;
  height: 55px;
  padding: 10px;

  text-decoration: none;

  color: #b2b1b9;

  justify-content: space-between;
  align-items: center;
}

.list__item a:hover {
  color: white;
  border-radius: 5px;
  background-color: #0061a8;
}

.list__item i {
  display: flex;

  min-width: 30px;
  min-height: 30px;

  justify-content: center;
  align-items: center;
}

.list__item p {
  display: flex;

  min-width: 140px;
  padding-left: 10px;

  text-decoration: none;

  justify-content: flex-start;
  align-items: center;
}

.list__item--collapsed a {
  font-size: 20px;

  display: flex;

  width: 55px;
  height: 55px;
  padding: 10px;

  text-decoration: none;

  color: #b2b1b9;

  justify-content: center;
  align-items: center;
}

.list__item--collapsed a:hover {
  color: white;
  border-radius: 5px;
  background-color: #0061a8;
}
/* End Component 2 - Sidebar Styles */

/* Start Media Queries Screems 850px */
@media screen and (max-width: 850px) {
  /* Start Component 2 - Sidebar Styles */
  .sidebar__list {
    width: 175px;
  }

  .list__item {
    height: 50px;
  }

  .list__item a {
    font-size: 17px;

    width: 165px;
    height: 50px;
  }

  .list__item--collapsed a {
    font-size: 17px;

    width: 50px;
    height: 50px;
  }

  .list__item i {
    width: 28px;
    height: 28px;
  }

  .list__item p {
    width: 130px;
  }
  /* End Component 2 - Sidebar Styles */
}
/* End Media Queries Screems 850px */

/* Start Media Queries Screems 650px */
@media only screen and (max-width: 650px) {
  /* Start Component 2 - Sidebar Styles */
  .sidebar__list {
    width: 175px;
  }

  .expanded {
    display: none;
  }

  .collapsed {
    display: none;
  }

  .list__item {
    height: 40px;
  }

  .list__item a {
    font-size: 16px;

    width: 165px;
    height: 40px;
  }

  .list__item i {
    width: 26px;
    height: 26px;
  }

  .list__item p {
    width: 130px;
  }
  /* End Component 2 - Sidebar Styles */
}
/* End Media Queries Screems 650px */
