/* Start Component 2 - Sidebar Styles */
.sidebar__list {
  width: 215px;
  padding-top: 10px;

  list-style: none;
}

.expanded {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}

.collapsed {
  display: none;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}

.list__item {
  display: flex;

  height: 55px;

  align-items: center;
  justify-content: center;
}

.list__item a {
  font-size: 20px;

  display: flex;

  width: 195px;
  height: 55px;
  padding: 10px;

  text-decoration: none;

  color: #b2b1b9;

  justify-content: space-between;
  align-items: center;
}

.list__item a:hover {
  transition: 0.5s;

  color: white;
  border-radius: 5px;
  background-color: #0061a8;
}

.list__item i {
  display: flex;

  min-width: 30px;
  min-height: 30px;

  justify-content: center;
  align-items: center;
}

.list__item p {
  display: flex;

  min-width: 150px;
  padding-left: 10px;

  text-decoration: none;

  justify-content: flex-start;
  align-items: center;
}

.list__item--collapsed a {
  font-size: 20px;

  display: flex;

  width: 55px;
  height: 55px;
  padding: 10px;

  text-decoration: none;

  color: #b2b1b9;

  justify-content: center;
  align-items: center;
}

.list__item--collapsed a:hover {
  color: white;
  border-radius: 5px;
  background-color: #0061a8;
}
/* End Component 2 - Sidebar Styles */

/* Start Media Queries Screens 1200px */
@media screen and (max-width: 1200px) {
  /* Start Component 2 - Sidebar Styles */
  .sidebar__list {
    width: 190px;
  }

  .list__item {
    height: 53px;
  }

  .list__item a {
    font-size: 18px;

    width: 170px;
    height: 53px;
  }

  .list__item--collapsed a {
    font-size: 18px;

    width: 53px;
    height: 53px;
  }

  .list__item i {
    width: 28px;
    height: 28px;
  }

  .list__item p {
    min-width: 130px;
  }
  /* End Component 2 - Sidebar Styles */
}
/* End Media Queries Screens 1200px */

/* Start Media Queries Screens 850px */
@media screen and (max-width: 850px) {
  /* Start Component 2 - Sidebar Styles */

  .expanded {
    display: none;
  }

  .collapsed {
    display: flex;
  }

  .list__item {
    height: 51px;
  }

  .list__item--collapsed a {
    font-size: 16px;

    width: 51px;
    height: 51px;
  }

  .list__item i {
    width: 26px;
    height: 26px;
  }
  /* End Component 2 - Sidebar Styles */
}
/* End Media Queries Screens 850px */

/* Start Media Queries Screens 650px */
@media screen and (max-width: 650px) {
  /* Start Component 2 - Sidebar Styles */
  .sidebar__list {
    width: 175px;
  }

  .expanded {
    display: none;
  }

  .collapsed {
    display: none;
  }

  .list__item {
    height: 40px;
  }

  .list__item a {
    font-size: 14px;

    display: flex;

    width: 150px;
    height: 32px;

    justify-content: flex-start;
  }

  .list__item--collapsed a {
    font-size: 14px;

    width: 32px;
    height: 32px;
  }

  .list__item i {
    width: 24px;
    height: 24px;
    padding: 0;
  }

  .list__item p {
    min-width: 120px;
    padding-left: 3px;
  }
  /* End Component 2 - Sidebar Styles */
}
/* End Media Queries Screens 650px */
