/* Start General Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: row;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus-visible {
  border-color: #0021da;
  border-style: solid;
  outline: none;
}

.nav-button {
  align-items: center;
  background-color: #0f52ba;
  border-radius: 8px;
  color: white;
  display: flex;
  font-size: 28px;
  font-weight: bold;
  height: 45px;
  justify-content: center;
  text-decoration: none;
  transition: font-size 0.5s;
  width: 45px;
}

.nav-button:hover {
  font-size: 34px;
}
/* End General Styles */

/* Start Component 2 - Sidebar Styles */
.sidebar {
  background-color: #343a40;
  width: 210px;
  height: 100vh;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8px;
}

.sidebar__list {
  width: 195px;
  list-style: none;
}

.expanded {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.collapsed {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.list__item {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-width: 185px; */
}

.list__item a {
  color: #b2b1b9;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  min-width: 185px;
  height: 55px;
  padding: 10px;
}

.list__item a:hover {
  background-color: #0061a8;
  border-radius: 5px;
  color: white;
}

.list__item i {
  min-width: 30px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list__item p {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  min-width: 140px;
}

.list__item--collapsed a{
  color: #b2b1b9;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 55px;
  height: 55px;
  padding: 10px;
}

.list__item--collapsed a:hover {
  background-color: #0061a8;
  border-radius: 5px;
  color: white;
}

/* End Component 2 - Sidebar Styles */

/* Start Media Queries Screems 850px */
@media screen and (max-width: 850px) {
  /* Start Component 2 - Sidebar Styles */

  .sidebar {
    width: 195px;
  }

  .sidebar__list {
    width: 180px;
  }

  .list__item {
    height: 50px;
  }

  .list__item a {
    font-size: 18px;
    min-width: 175px;
    height: 50px;
  }

  .list__item--collapsed a{
    font-size: 18px;
    min-width: 50px;
    height: 50px;
  }

  .list__item i {
    min-width: 28px;
    min-height: 28px;
  }

  .list__item p {
    min-width: 135px;
  }
  /* End Component 2 - Sidebar Styles */
}

/* Start Media Queries Screems 650px */
@media only screen and (max-width: 650px) {

  /* Start Component 2 - Sidebar Styles */

  .sidebar {
    width: 100%;
    height: 225px;
    padding-top: 0px;
    display: flex;
    justify-content: space-evenly;

    /* display: none; */
  }

  .sidebar__list {
    width: 165px;
  }

  .list__item {
    height: 40px;
  }

  .list__item a {
    font-size: 16px;
    min-width: 155px;
    height: 40px;
  }

  .list__item i {
    min-width: 26px;
    min-height: 26px;
  }

  .list__item p {
    min-width: 130px;
  }

  /* End Component 2 - Sidebar Styles */
}
