/* Start General Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus-visible {
  border-color: #0021da;
  border-style: solid;
  outline: none;
}

/* End General Styles */

/* Start Component 3 - About me Styles */

.content__about-me {
  align-items: center;
  background-image: url("../../assets/city_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 440px;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
}

.content__about-me::before {
  background-color: #000;
  border-radius: 20px;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 0;
}

.about-me__card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 415px;
  justify-content: space-between;
  min-width: 850px;
  position: relative;
  width: 850px;
}

.about-me__card-title {
  color: white;
  font-size: 28px;
  font-weight: 900;
  min-width: 850px;
  padding: 0px 15px;
  position: relative;
  width: 850px;
}

.about-me__card-p {
  color: white;
  font-size: 18px;
  line-height: 25px;
  min-width: 850px;
  padding: 8px 15px;
  text-align: justify;
  position: relative;
  width: 850px;
}

.buttons-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 93px;
  justify-content: space-between;
  position: relative;
  text-align: center;
  width: 160px;
}

.buttons-card__component {
  align-items: center;
  background-color: #0021da;
  border-color: #021cad;
  border-radius: 8px;
  border-style: solid;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 700;
  height: 45px;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  width: 110px;
}

.buttons-card__component:hover {
  background-color: #ff4c29;
  border-color: #e04425;
}

.buttons-card__home {
  align-items: center;
  color: #86e716;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  height: 35px;
  justify-content: center;
  position: relative;
  text-decoration: none;
  transition: font-size 1s;
}

.buttons-card__home:hover {
  font-size: 35px;
}

/* End Component 3 - About me Styles */

/* Start Media Queries Screems 850px */
@media screen and (max-width: 850px) {
  /* Start Component 3 - About me Styles */

  .content__about-me {
    height: 450px;
  }

  .about-me__card {
    height: 425px;
    min-width: 630px;
    width: 630px;
  }

  .about-me__card-title {
    font-size: 26px;
    min-width: 630px;
    width: 630px;
  }

  .about-me__card-p {
    font-size: 16px;
    line-height: 20px;
    min-width: 630px;
    width: 630px;
  }

  .buttons-card {
    height: 88px;
    width: 150px;
  }

  .buttons-card__component {
    font-size: 16px;
    height: 40px;
    width: 100px;
  }

  .buttons-card__home {
    font-size: 23px;
    height: 35px;
    width: 40px;
  }

  .buttons-card__home:hover {
    font-size: 28px;
  }
  /* End Component 3 - About me Styles */
}
/* End Media Queries Screems 850px */

/* Start Media Queries Screems 650px */
@media only screen and (max-width: 650px) {
  /* Start Component 3 - About me Styles */

  .content__about-me {
    height: 505px;
  }

  .about-me__card {
    height: 485px;
    min-width: 360px;
    width: 360px;
  }

  .about-me__card-title {
    font-size: 24px;
    min-width: 360px;
    width: 360px;
  }

  .about-me__card-p {
    font-size: 14px;
    line-height: 18px;
    min-width: 360px;
    width: 360px;
  }

  .buttons-card {
    height: 83px;
    width: 140px;
  }

  .buttons-card__component {
    font-size: 14px;
    height: 35px;
    width: 95px;
  }

  .buttons-card__home {
    font-size: 20px;
    height: 35px;
    width: 35px;
  }

  .buttons-card__home:hover {
    font-size: 25px;
  }
  /* End Component 3 - About me Styles */
}
/* End Media Queries Screems 650px */
