/* Start General Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus-visible {
  border-color: #0021da;
  border-style: solid;
  outline: none;
}

.repair__page {
  color: yellow;
}

/* End General Styles */

/* Start Component 3 - About me Styles */

@keyframes slideInFromleft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.content__about-me {
  align-items: center;
  /* background-image: url("../../assets/city_img.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; */
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(69, 86, 102, 1) 0%,
    rgba(34, 34, 34, 1) 90%
  );
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  width: 100%;
}

.about-me__card {
  align-items: center;
  animation: 1.2s ease-out 0s 1 slideInFromleft;
  display: flex;
  flex-direction: column;
  height: 415px;
  justify-content: space-between;
  min-width: 850px;
  width: 850px;
}

.about-me__card-title {
  color: white;
  font-size: 28px;
  font-weight: 900;
  min-width: 850px;
  padding: 0px 15px;
  width: 850px;
}

.about-me__card-p {
  color: white;
  font-size: 18px;
  line-height: 25px;
  min-width: 850px;
  padding: 8px 15px;
  text-align: justify;
  width: 850px;
}

.buttons-card {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 93px;
  justify-content: space-between;
  padding: 0px 5px;
  text-align: center;
  width: 850px;
}

.buttons-card__component {
  align-items: center;
  color: #ffbc04;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: bold;
  height: 45px;
  justify-content: left;
  padding-left: 5px;
  text-decoration: none;
  transition: font-size 1s;
}

.buttons-card__component:hover {
  font-size: 22px;
}

.left_button {
  padding-left: 7px;
}

.right_button {
  padding-right: 7px;
}

/* End Component 3 - About me Styles */

/* Start Media Queries Screems 850px */
@media screen and (max-width: 850px) {
  /* Start Component 3 - About me Styles */

  /* .content__about-me {
    height: 90vh;
    min-height: 90vh;
  } */

  .about-me__card {
    height: 425px;
    min-width: 630px;
    width: 630px;
  }

  .about-me__card-title {
    font-size: 26px;
    min-width: 630px;
    width: 630px;
  }

  .about-me__card-p {
    font-size: 16px;
    line-height: 20px;
    min-width: 630px;
    width: 630px;
  }

  .buttons-card {
    width: 630px;
  }

  .buttons-card__component {
    font-size: 16px;
    height: 40px;
    padding-left: 4px;
  }

  .buttons-card__component:hover {
    font-size: 20px;
  }

  .left_button {
    padding-left: 6px;
  }

  .right_button {
    padding-right: 6px;
  }
  /* End Component 3 - About me Styles */
}
/* End Media Queries Screems 850px */

/* Start Media Queries Screems 650px */
@media only screen and (max-width: 650px) {
  /* Start Component 3 - About me Styles */

  /* .content__about-me {
    height: 97vh;
    min-height: 97vh;
  } */

  .about-me__card {
    height: 485px;
    min-width: 360px;
    width: 360px;
  }

  .about-me__card-title {
    font-size: 24px;
    min-width: 360px;
    width: 360px;
  }

  .about-me__card-p {
    font-size: 14px;
    line-height: 18px;
    min-width: 360px;
    width: 360px;
  }

  .buttons-card {
    width: 360px;
  }

  .buttons-card__component {
    font-size: 14px;
    height: 38px;
    padding-left: 3px;
  }

  .buttons-card__component:hover {
    font-size: 18px;
  }

  .left_button {
    padding-left: 5px;
  }

  .right_button {
    padding-right: 5px;
  }
  /* End Component 3 - About me Styles */
}
/* End Media Queries Screems 650px */
