/* Start General Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

/* End General Styles */

/* Start Component 3 - About me Styles */

.content__about-me {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: space-between;
  width: 100%;
}

.about-me__card {
  align-items: center;
  background-image: url("/assets/technology_img.jpg");
  border-color: #284e78;
  border-radius: 20px;
  border-style: solid;
  border-width: medium;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  min-width: 850px;
  position: relative;
  width: 850px;
}

.about-me__card::before {
  background-color: #000;
  border-radius: 20px;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 0;
}

.about-me__card-title {
  color: white;
  font-size: 28px;
  font-weight: 700;
  min-width: 850px;
  padding: 0px 15px;
  position: relative;
  width: 850px;
}

.about-me__card-p {
  color: white;
  font-size: 18px;
  line-height: 25px;
  min-width: 850px;
  padding: 8px 15px;
  position: relative;
  text-align: justify;
  width: 850px;
}

/* End Component 3 - About me Styles */

/* Start Media Queries Screems 850px */
@media screen and (max-width: 850px) {
  /* Start Component 3 - About me Styles */
  .about-me__card {
    height: 320px;
    min-width: 630px;
    width: 630px;
  }

  .about-me__card-title {
    font-size: 26px;
    min-width: 630px;
    width: 630px;
  }

  .about-me__card-p {
    font-size: 16px;
    line-height: 20px;
    min-width: 630px;
    width: 630px;
  }
  /* End Component 3 - About me Styles */
}
/* End Media Queries Screems 850px */

/* Start Media Queries Screems 650px */
@media only screen and (max-width: 650px) {
  /* Start Component 3 - About me Styles */
  .about-me__card {
    height: 385px;
    min-width: 360px;
    width: 360px;
  }

  .about-me__card-title {
    font-size: 24px;
    min-width: 360px;
    width: 360px;
  }

  .about-me__card-p {
    font-size: 14px;
    line-height: 18px;
    min-width: 360px;
    width: 360px;
  }
  /* End Component 3 - About me Styles */
}
/* End Media Queries Screems 650px */
