/* Start Component 3 - Cover Page Styles */

.mainContent__cover-page {
  height: 100vh;
}

.cover-page__card {
  position: relative;

  display: flex;
  flex-direction: row;

  width: 90%;
  height: 270px;

  align-items: center;
  justify-content: center;
}

.cover-page__card--profile-fig {
  filter: drop-shadow(0 0 7px #292828);
}

.profile-fig__img {
  height: 205px;
  margin: 10px;

  image-rendering: pixelated;
}

.cover-page__card--title {
  display: flex;
  flex-direction: column;

  width: inherit;
  height: 180px;
  margin-right: 10px;

  justify-content: space-evenly;
}

.title__me {
  font-size: 32px;

  display: flex;

  height: 42px;
  margin: 0;
  padding-left: 10px;

  color: white;

  align-items: center;
}

.title__name {
  font-size: 43px;
  font-weight: 900;

  display: flex;

  height: 52px;
  margin: 0;
  padding-left: 10px;

  color: white;

  align-items: center;
}

.title__rank {
  font-size: 32px;
  font-weight: 900;

  display: flex;

  height: 50px;
  margin: 0;
  margin-left: 10px;
  padding-right: 10px;

  color: white;
  background-color: #63b603;
  text-shadow: 2px 2px 4px #ddd;

  align-items: center;
  justify-content: flex-end;
}

.cover-page__buttons {
  position: relative;

  display: flex;

  width: 90%;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;

  justify-content: flex-end;
}
/* End Component 3 - Cover Page Styles */

/* Start Media Queries Screens 1200px */
@media screen and (max-width: 1200px) {
  /* Start Component 3 - Cover Page Styles */
  .mainContent__cover-page {
    height: 110vh;
  }

  .cover-page__card {
    height: 265px;
  }

  .profile-fig__img {
    height: 195px;
  }

  .cover-page__card--title {
    height: 175px;
  }

  .title__me {
    font-size: 30px;

    height: 40px;
  }

  .title__name {
    font-size: 41px;

    height: 50px;
  }

  .title__rank {
    font-size: 30px;

    height: 48px;
  }
  /* End Component 3 - Cover Page Styles */
}
/* End Media Queries Screens 1200px */

/* Start Media Queries Screens 850px */
@media screen and (max-width: 850px) {
  /* Start Component 3 - Cover Page Styles */
  .mainContent__cover-page {
    height: 120vh;
  }

  .cover-page__card {
    flex-direction: column-reverse;

    width: 85%;
    height: 350px;

    justify-content: space-evenly;
  }

  .profile-fig__img {
    height: 170px;
    margin: 5px;
  }

  .cover-page__card--title {
    width: 90%;
    height: 150px;
    margin-right: 0;
  }

  .title__me {
    font-size: 24px;

    height: 34px;
    padding-left: 0;
  }

  .title__name {
    font-size: 34px;

    height: 42px;
    padding-left: 0;
  }

  .title__rank {
    font-size: 26px;

    height: 42px;
    margin-left: 0;
    padding-right: 0;

    justify-content: center;
  }

  .cover-page__buttons {
    width: 85%;
    padding-right: 27px;
  }
  /* End Component 3 - Cover Page Styles */
}
/* End Media Queries Screens 850px */

/* Start Media Queries Screens 650px */
@media screen and (max-width: 650px) {
  /* Start Component 3 - Cover Page Styles */
  .mainContent__cover-page {
    height: 100vh;
  }

  .cover-page__card {
    width: 90%;
    height: 330px;
  }

  .profile-fig__img {
    height: 155px;
  }

  .cover-page__card--title {
    width: 90%;
    height: 135px;
  }

  .title__me {
    font-size: 22px;

    height: 32px;
  }

  .title__name {
    font-size: 32px;

    height: 40px;
  }

  .title__rank {
    font-size: 24px;

    height: 40px;
  }

  .cover-page__buttons {
    width: 90%;
    padding-right: 24px;
  }
  /* End Component 3 - Cover Page Styles */
}
/* End Media Queries Screens 650px */
