.content__cover-page {
  align-items: center;
  background-attachment: fixed;
  background-image: url("../../assets/cover_page_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  width: 100%;
}

.content__cover-page::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.65);
}

.cover-page__card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 285px;
  justify-content: space-between;
  min-width: 550px;
  position: relative;
  width: 90%;
  border-style: solid;
}

.profile__fig--img {
  image-rendering: pixelated;
  height: 190px;
  margin: 10px;
  border-style: solid;
}

/* Start Media Queries Screems 850px */
@media screen and (max-width: 850px) {
  /* Start Component 2 - Cover Page Styles */

  .cover-page__card {
    height: 260px;
    min-width: 580px;
    width: 580px;
  }

  .cover-page__card {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 285px;
    justify-content: space-between;
    min-width: 580px;
    position: relative;
    width: 90%;
    border-style: solid;
  }

  /* End Component 2 - Cover Page Styles */
}
/* End Media Queries Screems 850px */

/* Start Media Queries Screems 650px */
@media only screen and (max-width: 650px) {
  /* Start Component 2 - Cover Page Styles */

  .content__cover-page {
    align-items: center;
    display: flex;
    justify-content: center;
    /* min-height: 82vh; */
  }

  /* End Component 2 - Cover Page Styles */
}
/* End Media Queries Screems 650px */
