/* Start Component 4 - About me Styles */

.about-me__card {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 90%;
  height: 360px;

  align-items: center;
  justify-content: space-evenly;
  /* border-style: solid; */
}

.about-me__card-title {
  color: white;
  font-size: 28px;
  font-weight: 900;
  width: 95%;
  padding: 0px 15px;
  /* border-style: solid; */
}

.about-me__card-p {
  color: white;
  font-size: 18px;
  line-height: 25px;
  width: 95%;
  padding: 5px 15px;
  text-align: justify;
  /* border-style: solid; */
}

.about-me__card--buttons {
  display: flex;
  justify-content: space-between;
  min-width: 850px;
  padding: 0px 15px;
}

.about-me__buttons {
  position: relative;

  display: flex;

  width: 90%;
  padding: 5px 40px;

  justify-content: space-between;
  /* border-style: solid; */
}
