/* Start Component 4 - About me Styles */
.services__card {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 90%;

  align-items: center;
  justify-content: space-evenly;
  border-style: solid;
}

.services__card--title {
  font-size: 30px;
  font-weight: 900;

  width: 95%;
  padding: 0 15px 15px 15px;

  color: white;
}

.services__card--sub {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-style: solid;
  justify-content: space-evenly;
  width: 95%;
}

.sub__services {
  border-style: solid;
}

.sub__services--icon {
  font-size: 45px;
}

.sub__services {
  display: flex;
  border-style: solid;
  width: 300px;
  flex-direction: column;
  /* height: 230px; */
}

.card__list {
  list-style: disc;
  list-style-position: inside;
}
