/* Start Component 4 - About me Styles */
.services__card {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 90%;

  align-items: center;
  justify-content: space-evenly;
  /* height: 700px; */
}

.services__card--title {
  font-size: 30px;
  font-weight: 900;

  width: 95%;
  padding: 0 15px 15px 15px;

  color: white;
}

.services__card--dev {
  display: flex;
  flex-direction: row;
  width: 90%;
  /* height: 270px; */
  justify-content: flex-start;
  align-items: center;
  border-style: solid;
}

.dev__subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  height: 160px;
  border-radius: 12px;
  margin: 15px;
  position: relative;
}

.dev__subtitle::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 12px;
  background-color: #eeeeee;
  opacity: 0.7;
}

.subtitle__icon {
  font-size: 50px;
  color: #2f86a6;
  position: relative;
}

.subtitle__name {
  font-size: 28px;
  color: black;
  position: relative;
  font-weight: 900;
}

.dev__list {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 7px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  width: 100%;
  margin: 15px;
  margin-left: 0px;
  padding: 10px;
  position: relative;
}

.dev__list::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 12px;
  background-color: #145374;
  opacity: 0.7;
}

.dev__list--item {
  color: white;
  font-size: 20px;
  position: relative;
  font-weight: lighter;
}
