/*Start General Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

.content__contact {
  background-image: url("../../assets/ice_background.jpg");
  background-size: cover;
  height: 305px;
  width: 100%;
  display: flex;
  border-style: solid;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-width: medium;
  position: relative;
}

.content__contact::before {
  background-color: #000;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 0;
}

.contact__card {
  align-items: center;
  /* background-image: url("../../assets/technology_img.jpg"); */
  /* border-color: #284e78;
  border-radius: 20px;
  border-style: solid;
  border-width: medium; */
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: space-between;
  min-width: 850px;
  /* position: relative; */
  width: 850px;
}

.contact__card--title {
  color: white;
  font-size: 28px;
  font-weight: 700;
  min-width: 850px;
  padding: 0px 15px;
  position: relative;
  width: 850px;
}

.contact__card-p {
  color: white;
  font-size: 18px;
  line-height: 25px;
  min-width: 850px;
  padding: 8px 15px;
  position: relative;
  text-align: justify;
  width: 850px;
}

.contact__card--subtitle {
  color: white;
  font-size: 20px;
  font-weight: 700;
  min-width: 850px;
  padding: 0px 15px;
  position: relative;
  width: 850px;
  text-align: center;
}

.buttons-card__home {
  align-items: center;
  color: #86e716;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  width: 50px;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  position: relative;
}

.contact__social-media {
  display: flex;
  width: 300px;
  height: 40px;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  position: relative;
}

.social-media__item {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50px;
  min-width: 50px;
  position: relative;
}

.social-media__button {
  color: #ff4c29;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
  position: relative;
}

/*End General Styles */

/* Start Media Queries Screems 850px */
@media screen and (max-width: 850px) {
}
/* End Media Queries Screems 850px */

/* Start Media Queries Screems 650px */
@media only screen and (max-width: 650px) {
}
/* End Media Queries Screems 850px */
