/*Start General Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

a:focus-visible {
  border-color: #0021da;
  border-style: solid;
  outline: none;
}

/* End General Styles */

/* Start Component 6 - Contact Styles */
.content__contact {
  align-items: center;
  background-color: #0696a0;
  display: flex;
  flex-direction: column;
  height: 295px;
  justify-content: space-evenly;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.contact__card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: space-between;
  min-width: 850px;
  width: 850px;
}

.contact__card--title {
  color: white;
  font-size: 28px;
  font-weight: 900;
  min-width: 850px;
  padding: 0px 15px;
  width: 850px;
}

.contact__card--p {
  color: white;
  font-size: 18px;
  line-height: 25px;
  min-width: 850px;
  padding: 8px 15px;
  text-align: justify;
  width: 850px;
}

.contact__card--subtitle {
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 0px 15px;
  text-align: center;
}

.contact__social--media {
  align-items: center;
  display: flex;
  height: 55px;
  justify-content: space-evenly;
  list-style: none;
  width: 350px;
}

.social--media__item {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.social--media__button {
  align-items: center;
  color: #ff4c29;
  display: flex;
  font-size: 25px;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: font-size 1s;
  width: 50px;
}

.social--media__button:hover {
  font-size: 35px;
}

.buttons-card__home {
  align-items: center;
  color: #86e716;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  transition: font-size 1s;
  width: 50px;
}

.buttons-card__home:hover {
  font-size: 35px;
}

/* End Component 6 - Contact Styles */

/* Start Media Queries Screems 850px */
@media screen and (max-width: 850px) {
  /* Start Component 6 - Contact Styles */
  .content__contact {
    height: 265px;
  }

  .contact__card {
    height: 235px;
    min-width: 630px;
    width: 630px;
  }

  .contact__card--title {
    font-size: 26px;
    min-width: 630px;
    width: 630px;
  }

  .contact__card--p {
    font-size: 16px;
    line-height: 20px;
    min-width: 630px;
    width: 630px;
  }

  .contact__card--subtitle {
    font-size: 18px;
  }

  .contact__social--media {
    height: 45px;
    width: 310px;
  }

  .social--media__item {
    height: 40px;
    width: 40px;
  }

  .social--media__button {
    font-size: 23px;
    height: 40px;
    width: 40px;
  }

  .social--media__button:hover {
    font-size: 28px;
  }

  .buttons-card__home {
    font-size: 23px;
    height: 35px;
    width: 40px;
  }

  .buttons-card__home:hover {
    font-size: 28px;
  }
  /* End Component 6 - Contact Styles */
}
/* End Media Queries Screems 850px */

/* Start Media Queries Screems 650px */
@media only screen and (max-width: 650px) {
  /* Start Component 6 - Contact Styles */
  .content__contact {
    height: 280px;
  }

  .contact__card {
    height: 250px;
    min-width: 360px;
    width: 360px;
  }

  .contact__card--title {
    font-size: 24px;
    min-width: 360px;
    width: 360px;
  }

  .contact__card--p {
    font-size: 14px;
    line-height: 18px;
    min-width: 360px;
    width: 360px;
  }

  .contact__card--subtitle {
    font-size: 16px;
  }

  .contact__social--media {
    height: 40px;
    width: 255px;
  }

  .social--media__item {
    height: 35px;
    width: 35px;
  }

  .social--media__button {
    font-size: 20px;
    height: 30px;
    width: 35px;
  }

  .social--media__button:hover {
    font-size: 25px;
  }

  .buttons-card__home {
    font-size: 20px;
    height: 35px;
    width: 35px;
  }

  .buttons-card__home:hover {
    font-size: 25px;
  }
  /* End Component 6 - Contact Styles */
}
/* End Media Queries Screems 850px */
