/* Start Component 6 - Skills Styles */
.skills__card {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 90%;

  align-items: center;
  justify-content: space-evenly;

  border-style: solid;
}

.skills__card--title {
  font-size: 30px;
  font-weight: 900;

  width: 95%;
  padding: 0 15px 15px 15px;

  color: white;
}

.skills__card--list {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 500px;
  border-style: solid;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skills__list--item {
  border-style: solid;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-color: red;
}

.list__icon {
  color: white;
  font-size: 55px;
}

.list__title {
  color: white;
  font-size: 30px;
}
