/* Start Component 6 - Skills Styles */
.skills__card {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 95%;

  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.skills__card--title {
  font-size: 30px;
  font-weight: 900;

  width: 95%;
  padding: 0 15px 15px 15px;

  color: white;
}

.skills__card--stack {
  display: flex;
  flex-direction: row;

  width: 95%;

  justify-content: flex-start;
  align-items: center;
}

.stack__subtitle-sk {
  position: relative;

  display: flex;
  flex-direction: column;

  min-width: 135px;
  height: 135px;
  margin: 15px;

  border-radius: 12px;

  justify-content: center;
  align-items: center;
}

.stack__subtitle-sk::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: "";

  opacity: 0.7;
  border-radius: 12px;
  background-color: #eee;
}

.subtitle-sk__icon {
  font-size: 50px;
}

.subtitle-sk__icon--img {
  position: relative;

  width: 50px;
  height: 50px;
}

.subtitle-sk__name {
  font-size: 24px;
  font-weight: 900;

  position: relative;

  color: black;
}

.stack__list-sk {
  position: relative;

  display: flex;
  flex-direction: row;

  width: 95%;
  margin: 15px;
  margin-left: 0;
  padding: 10px;
  padding-left: 7px;

  list-style-position: inside;
  list-style-type: disc;

  border-radius: 12px;

  flex-wrap: wrap;
  justify-content: center;
}

.stack__list-sk::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: "";

  opacity: 0.7;
  border-radius: 12px;
  background-color: #145374;
}

.list-sk__item {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 130px;
  height: 130px;
  margin: 5px;

  justify-content: center;
  align-items: center;
}

.list-sk__item--icon {
  font-size: 60px;

  position: relative;

  display: flex;

  width: 80px;
  height: 80px;

  border-radius: 15px;
  background-color: white;

  justify-content: center;
  align-items: center;
}

.icon__img-sk {
  width: 60px;
  height: 60px;
}

.color-html5 {
  color: #e44d26;
}

.color-css3 {
  color: #016cb9;
}

.color-sass {
  color: #cd6799;
}

.color-bootstrap {
  color: #7952b3;
}

.color-js {
  color: #f7df1e;
}

.color-php {
  color: #8892bf;
}

.color-laravel {
  color: #ff2d20;
}

.color-git {
  color: #333;
}

.color-nodejs {
  color: #3c873a;
}

.list-sk__item--title {
  font-size: 18px;
  font-weight: lighter;

  color: white;
}

.skills__buttons {
  position: relative;

  display: flex;

  width: 95%;
  padding: 7px 40px;

  justify-content: space-between;
}
/* End Component 6 - Skills Styles */

/* Start Media Queries Screens 1200px */
@media screen and (max-width: 1200px) {
  /* Start Component 6 - Skills Styles */

  .skills__card--title {
    font-size: 28px;

    padding: 0 15px 12px 15px;
  }

  .subtitle-sk__icon {
    font-size: 48px;
  }

  .subtitle-sk__icon--img {
    width: 48px;
    height: 48px;
  }

  .subtitle-sk__name {
    font-size: 22px;
  }

  .stack__subtitle-sk {
    min-width: 130px;
    height: 130px;
    margin: 13px;
  }

  .stack__list-sk {
    margin: 13px;
    margin-left: 0;
  }

  .list-sk__item {
    width: 120px;
    height: 120px;
  }

  .list-sk__item--icon {
    font-size: 55px;

    width: 75px;
    height: 75px;
  }

  .icon__img-sk {
    width: 55px;
    height: 55px;
  }

  .list-sk__item--title {
    font-size: 16px;
  }

  .skills__buttons {
    padding: 7px 38px;
  }

  /* End Component 6 - Skills Styles */
}
/* End Media Queries Screens 1200px */

/* Start Media Queries Screens 850px */
@media screen and (max-width: 850px) {
  /* Start Component 6 - Skills Styles */

  .skills__card--title {
    font-size: 26px;

    padding: 0 15px 10px 15px;
  }

  .subtitle-sk__icon {
    font-size: 46px;
  }

  .subtitle-sk__icon--img {
    width: 46px;
    height: 46px;
  }

  .subtitle-sk__name {
    font-size: 20px;
  }

  .stack__subtitle-sk {
    min-width: 125px;
    height: 125px;
    margin: 11px;
  }

  .dev__subtitle {
    min-width: 140px;
    height: 140px;
    margin: 11px;
  }

  .stack__list-sk {
    margin: 11px;
    margin-left: 0;
  }

  .list-sk__item {
    width: 110px;
    height: 110px;
  }

  .list-sk__item--icon {
    font-size: 50px;

    width: 70px;
    height: 70px;
  }

  .icon__img-sk {
    width: 50px;
    height: 50px;
  }

  .list-sk__item--title {
    font-size: 14px;
  }

  .skills__buttons {
    padding: 7px 32px;
  }

  /* End Component 6 - Skills Styles */
}
/* End Media Queries Screens 850px */

/* Start Media Queries Screens 650px */
@media screen and (max-width: 650px) {
  /* Start Component 6 - Skills Styles */

  .skills__card--title {
    font-size: 24px;

    padding: 0 15px 8px 15px;
  }

  .subtitle-sk__icon {
    font-size: 44px;
  }

  .subtitle-sk__icon--img {
    width: 44px;
    height: 44px;
  }

  .subtitle-sk__name {
    font-size: 18px;
  }

  .skills__card--stack {
    flex-direction: column;
  }

  .stack__subtitle-sk {
    min-width: 120px;
    height: 120px;
    margin: 9px;
  }

  .stack__list-sk {
    margin: 9px 0;
  }

  .list-sk__item {
    width: 100px;
    height: 100px;
  }

  .list-sk__item--icon {
    font-size: 45px;

    width: 65px;
    height: 65px;
  }

  .icon__img-sk {
    width: 45px;
    height: 45px;
  }

  .list-sk__item--title {
    font-size: 12px;
  }

  .skills__buttons {
    padding: 7px 28px;
  }

  /* End Component 6 - Skills Styles */
}
/* End Media Queries Screens 650px */
