/* Start Component 6 - Skills Styles */
.skills__card {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 90%;

  align-items: center;
  justify-content: space-evenly;

  border-style: solid;
}

.skills__card--title {
  font-size: 30px;
  font-weight: 900;

  width: 95%;
  padding: 0 15px 15px 15px;

  color: white;
}

.skills__card--list {
  display: flex;
  flex-direction: row;
  width: 95%;
  border-style: solid;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skills__list--item {
  border-style: solid;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-color: red;
}

.list__icon {
  font-size: 55px;
  width: 85px;
  height: 85px;
  background-color: #d3e4cd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.img__icon {
  width: 55px;
  height: 55px;
}

.color-html5 {
  color: #e44d26;
}

.color-css3 {
  color: #016cb9;
}

.color-bootstrap {
  color: #7952b3;
}

.color-js {
  color: #f7df1e;
}

.color-php {
  color: #8892bf;
}

.color-laravel {
  color: #ff2d20;
}

.color-git {
  color: #333333;
}

.color-nodejs {
  color: #3c873a;
}

.list__title {
  color: white;
  font-size: 22px;
}
