/*Start General Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

/*End General Styles */

/* Start Component 7 - Footer Styles */
.footer {
  align-items: center;
  background-color: #0696a0;
  display: flex;
  height: 70px;
  justify-content: center;
}

.footer__description {
  color: white;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}

/* End Component 7 - Footer Styles */

/* Start Media Queries Screems 850px */
@media screen and (max-width: 850px) {
  /* Start Component 7 - Footer Styles */
  .footer__description {
    font-size: 16px;
  }
  /* End Component 7 - Footer Styles */
}
/* End Media Queries Screems 850px */

/* Start Media Queries Screems 650px */
@media only screen and (max-width: 650px) {
  /* Start Component 7 - Footer Styles */
  .footer__description {
    font-size: 14px;
  }
  /* End Component 7 - Footer Styles */
}
/* End Media Queries Screems 850px */
