/*Start General Styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

/*End General Styles */

/* Start Component 7 - Footer Styles */
.footer {
  align-items: center;
  background-color: #0696a0;
  display: flex;
  height: 70px;
  justify-content: center;
}

.footer__description {
  color: white;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}

/* End Component 7 - Footer Styles */
