/* Start Component 7 - Proyects Styles */
.proyects__card {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 95%;

  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border-style: solid;
}

.proyects__card--title {
  font-size: 30px;
  font-weight: 900;

  width: 95%;
  padding: 0 15px 15px 15px;

  color: white;
}

.proyects__card--work {
  display: flex;
  flex-direction: column;

  width: 600px;
  /* height: 300px; */

  justify-content: flex-start;
  align-items: center;

  border-style: solid;
}

.work__details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.work__details--img {
  width: 450px;
  height: 200px;
}

.work__details--caption {
  font-size: 18px;
}

.work__subtitle {
  font-size: 22px;
  font-weight: 900;

  position: relative;

  color: white;
}

.work__button {
  background-color: green;
  text-decoration: none;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  height: 35px;
}

.work__p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 25px;

  width: 95%;
  margin-bottom: 10px;
  padding: 2px 15px;

  text-align: justify;

  color: white;
}
