/* Start Component 7 - Proyects Styles */
.proyects__card {
  position: relative;

  display: flex;
  flex-direction: row;

  width: 95%;

  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border-style: solid;
}

.proyects__card--title {
  font-size: 30px;
  font-weight: 900;

  width: 95%;
  padding: 0 15px 15px 15px;

  color: white;
}

.proyects__card--work {
  display: flex;
  flex-direction: column;

  width: 400px;
  height: 530px;

  justify-content: space-between;
  align-items: center;

  border-style: solid;
  border-radius: 8px;
  background-color: blue;

  margin-bottom: 20px;
}

.work__details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 7px;
}

.work__details--img {
  width: 385px;
  height: 180px;
  padding: 8px;
}

.work__details--caption {
  font-size: 18px;
}

.work__details--subtitle {
  font-size: 22px;
  font-weight: 900;

  position: relative;

  color: white;
  text-align: center;
}

.work__description {
  font-size: 18px;
  font-weight: lighter;
  line-height: 25px;

  width: 95%;
  margin-bottom: 10px;
  padding: 2px 0;

  text-align: justify;

  color: white;
}

.work__demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 7px;
  height: 80px;
}

.work__demo--button {
  background-color: green;
  text-decoration: none;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  height: 35px;
}

.work__demo--skills {
  font-size: 18px;
}

.proyects__buttons {
  position: relative;

  display: flex;

  width: 95%;
  padding: 7px 40px;

  justify-content: space-between;
}
