/* Start Component 7 - Proyects Styles */
.proyects__card {
  position: relative;

  display: flex;
  flex-direction: row;

  width: 95%;

  border-style: solid;

  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.proyects__card--title {
  font-size: 30px;
  font-weight: 900;

  width: 95%;
  padding: 0 15px 15px 15px;

  color: white;
}

.proyects__card--work {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 660px;
  margin-bottom: 20px;
  /* border-style: solid; */

  border-radius: 12px;
  /* height: 570px; */

  justify-content: space-between;
  align-items: center;
}

.proyects__card--work::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: "";

  opacity: 0.7;
  border-radius: 12px;
  background-color: #145374;
}

.work__details {
  position: relative;

  display: flex;
  flex-direction: column;

  padding-top: 7px;

  align-items: center;
  justify-content: center;
}

.work__details--img {
  width: 630px;
  height: 320px;
  margin-bottom: 8px;
  padding: 8px;

  border-radius: 20px;

  image-rendering: initial;
}

.work__details--caption {
  font-size: 17px;
}

.work__details--subtitle {
  font-size: 22px;
  font-weight: 900;

  position: relative;

  text-align: center;

  color: white;
}

.work__description {
  font-size: 17px;
  font-weight: lighter;
  line-height: 20px;

  position: relative;

  width: 95%;
  margin-bottom: 10px;
  padding: 2px 8px;

  text-align: justify;

  color: white;
}

.work__demo {
  /* height: 140px; */
  width: 630px;
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 8px;

  align-items: center;
  justify-content: space-between;
  /* border-style: solid; */
}

.work__demo--button {
  font-size: 17px;

  display: flex;

  width: 110px;
  height: 35px;
  margin-bottom: 7px;

  text-decoration: none;

  color: white;
  border-radius: 5px;
  background-color: #01937c;

  align-items: center;
  justify-content: center;
}

.work__demo--button:hover {
  transition: 0.5s;

  background-color: #ff7800;
}

.work__demo--list {
  display: flex;
  flex-direction: row;

  /* width: 630px; */
  /* padding: 8px; */
  padding: 7px;

  list-style: none;

  flex-wrap: wrap;
  /* border-style: solid; */
  justify-content: space-between;
}

.list__proyect-s {
  /* border-style: solid; */
  display: flex;
  flex-direction: column;

  width: 80px;

  border-radius: 5px;
  margin: 5px;

  align-items: center;
  justify-content: flex-start;
  /* margin: 5px; */
}

.list__proyect-s--icon {
  /* border-color: red; */
  /* border-style: solid; */
  display: flex;

  width: 55px;
  height: 55px;
  margin: 5px;

  border-radius: 10px;
  background-color: white;

  align-items: center;
  justify-content: center;
}

.list__proyect-s i {
  font-size: 35px;
}

.list__proyect-s img {
  width: 35px;
  height: 35px;

  image-rendering: pixelated;
}

.list__proyect-s--name {
  font-size: 17px;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  text-align: center;
  word-break: break-all;
}

.proyects__buttons {
  position: relative;

  display: flex;

  width: 95%;
  padding: 7px 40px;

  justify-content: space-between;
}
/* End Component 7 - Proyects Styles */
