/* Start Component 8 - Contact Styles */
.contact__card {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 90%;

  align-items: center;
  justify-content: space-evenly;
}

.contact__card--title {
  font-size: 30px;
  font-weight: 900;

  width: 95%;
  margin-bottom: 5px;
  padding: 0 15px 15px 15px;

  color: white;
}

.contact__card--p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 25px;

  width: 95%;
  padding: 0 15px 15px 15px;

  text-align: justify;

  color: white;
}

.contact__card--subtitle {
  font-size: 24px;
  font-weight: 700;

  width: 95%;
  margin-top: 10px;
  padding: 0 15px 15px 15px;

  text-align: center;

  color: white;
}

.contact__social--media {
  display: flex;

  width: 95%;
  padding: 7px;

  list-style: none;

  align-items: center;
  justify-content: center;
}

.social--media__item {
  display: flex;

  height: 50px;
  padding: 0 10px;

  align-items: center;
  justify-content: center;
}

.social--media__button {
  font-size: 28px;
  font-weight: bold;

  display: flex;

  width: 45px;
  height: 45px;

  transition: font-size 1s;
  text-align: center;
  text-decoration: none;

  color: white;
  border-radius: 8px;
  background-color: #fc5404;

  align-items: center;
  justify-content: center;
}

.social--media__button:hover {
  font-size: 34px;
}

.contact__buttons {
  position: relative;

  display: flex;

  width: 90%;
  padding: 7px 40px;

  justify-content: space-between;
}
/* End Component 8 - Contact Styles */

/* Start Media Queries Screens 1200px */
@media screen and (max-width: 1200px) {
  /* Start Component 8 - Contact Styles */
  .contact__card--title {
    font-size: 28px;

    padding: 0 15px 12px 15px;
  }

  .contact__card--p {
    font-size: 16px;

    margin-bottom: 10px;
    padding: 0 15px 12px 15px;
  }

  .contact__card--subtitle {
    font-size: 22px;
  }

  .contact__social--media {
    padding: 6px;
  }

  .social--media__item {
    display: flex;

    height: 48px;

    align-items: center;
    justify-content: center;
  }

  .social--media__button {
    font-size: 26px;

    width: 43px;
    height: 43px;
  }

  .social--media__button:hover {
    font-size: 32px;
  }

  .contact__buttons {
    padding: 7px 38px;
  }

  /* End Component 8 - Contact Styles */
}
/* End Media Queries Screens 1200px */

/* Start Media Queries Screens 850px */
@media screen and (max-width: 850px) {
  /* Start Component 8 - Contact Styles */
  .contact__card--title {
    font-size: 26px;

    padding: 0 15px 10px 15px;
  }

  .contact__card--p {
    font-size: 14px;

    padding: 0 15px 10px 15px;
  }

  .contact__card--subtitle {
    font-size: 20px;
  }

  .contact__social--media {
    padding: 5px;
  }

  .social--media__item {
    display: flex;

    height: 46px;

    align-items: center;
    justify-content: center;
  }

  .social--media__button {
    font-size: 24px;

    width: 41px;
    height: 41px;
  }

  .social--media__button:hover {
    font-size: 30px;
  }

  .contact__buttons {
    padding: 7px 32px;
  }

  /* End Component 8 - Contact Styles */
}
/* End Media Queries Screens 850px */

/* Start Media Queries Screens 650px */
@media screen and (max-width: 650px) {
  /* Start Component 8 - Contact Styles */
  .contact__card--title {
    font-size: 24px;

    padding: 0 15px 8px 15px;
  }

  .contact__card--p {
    font-size: 12px;

    padding: 0 15px 8px 15px;
  }

  .contact__card--subtitle {
    font-size: 18px;
  }

  .contact__social--media {
    padding: 4px;
  }

  .social--media__item {
    display: flex;

    height: 44px;

    align-items: center;
    justify-content: center;
  }

  .social--media__button {
    font-size: 22px;

    width: 39px;
    height: 39px;
  }

  .social--media__button:hover {
    font-size: 28px;
  }

  .contact__buttons {
    padding: 7px 28px;
  }

  /* End Component 8 - Contact Styles */
}
/* End Media Queries Screens 650px */
