/* Start Component 10 - Maintenance page Styles */
.maintenance-page__card {
  display: flex;

  width: 550px;

  align-items: center;
  justify-content: center;
  position: relative;

  height: 100px;
}

.maintenance-page__card--title {
  font-size: 26px;
  font-weight: bold;

  color: #ffe227;
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: center;
}

.maintenance-page__card--title i {
  color: #fb7813;
  padding-right: 8px;
}
/* End Component 10 - Maintenance page Styles */

/* Start Media Queries Screens 1200px */
@media screen and (max-width: 1200px) {
  /* Start Component 10 - Maintenance page Styles */
  .maintenance-page__card--title {
    font-size: 24px;
  }
  /* End Component 10 - Maintenance page Styles */
}
/* End Media Queries Screens 1200px */

/* Start Media Queries Screens 850px */
@media screen and (max-width: 850px) {
  /* Start Component 10 - Maintenance page Styles */
  .maintenance-page__card--title {
    font-size: 22px;
  }
  /* End Component 10 - Maintenance page Styles */
}
/* End Media Queries Screens 850px */

/* Start Media Queries Screens 625px */
@media only screen and (max-width: 625px) {
  /* Start Component 10 - Maintenance page Styles */
  .maintenance-page__card--title {
    font-size: 20px;
  }
  /* End Component 10 - Maintenance page Styles */
}
/* End Media Queries Screens 625px */
