<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Isaac Arias - Full Stack Developer</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../assets/portfolio_icon.png"
    />
    <link rel="stylesheet" href="../css/01_header.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- Fin de Inclusión de las hojas de Estilo y la fuente de la Página -->
    <!-- Inicio de inclusión los iconos FontAwesome en la Página -->
    <script
      src="https://kit.fontawesome.com/7932647ae3.js"
      crossorigin="anonymous"
    ></script>
    <!-- Fin de inclusión los iconos FontAwesome en la Página -->
  </head>
  <body id="body" class="body">
    <header id="header" class="header">
      <section class="header__logo">
        <a href="#" onclick="closeNav()" id="hamburger" class="header__logo--hamburger"
          ><i class="fas fa-bars "></i>
        </a>

        <a href="#" onclick="openNav()" id="hamburger2" class="header__logo--hamburger2"
          ><i class="fas fa-bars "></i>
        </a>

          <a href="#" href="#home" onclick="loadCoverPage()" class="header__logo--icon"
          ><i class="fa fa-laptop" aria-hidden="true"></i>
          <p id="logoname"> Isaac Arias</p></a>
        </a>
      </section>
      <nav class="header__navbar">
        <!-- <ul class="header__navbar--menu">
          <li class="menu__item">
            <a href="#about-me" onclick="loadAboutMe()" class="menu__item--link"
              ><i class="fa fa-user" aria-hidden="true"></i> Sobre mí</a
            >
          </li>
          <li class="menu__item">
            <a
              href="#services"
              onclick="loadServices()"
              class="menu__item--link"
              ><i class="fa fa-code"></i> Servicios</a
            >
          </li>
          <li class="menu__item skills">
            <a href="#skills" onclick="loadSkills()" class="menu__item--link"
              ><i class="fas fa-pencil-alt"></i> Habilidades</a
            >
          </li>
          <li class="menu__item">
            <a
              href="#proyects"
              onclick="loadProyects()"
              class="menu__item--link"
              ><i class="fas fa-briefcase"></i> Proyectos</a
            >
          </li>
          <li class="menu__item">
            <a href="#contact" onclick="loadContact()" class="menu__item--link"
              ><i class="far fa-comment-alt"></i> Contacto</a
            >
          </li>
        </ul> -->
      </nav>
    </header>
    <script>
      function openNav() {
        document.getElementById("hamburger").style.display = "flex";
        document.getElementById("hamburger2").style.display = "none";
        document.getElementById("header").style.width = "250px";
        document.getElementById("header").style.transition = "0.5s";
        document.getElementById("logoname").style.display = "flex";
        document.getElementById("logoname").style.transition = "all 0.1s ease-in-out";
      }
      
      function closeNav() {
        document.getElementById("hamburger").style.display = "none";
        document.getElementById("hamburger2").style.display = "flex";
        document.getElementById("header").style.width = "4.6rem";
        document.getElementById("header").style.transition = "0.5s";
        document.getElementById("logoname").style.display = "none";
      }
      </script>
  </body>
  
</html>
