<!-- Start component 1 - Header -->
<section id="header__logo" class="header__logo">
  <a href="#" onclick="headerClick()" class="logo__hamburger-buttom"><i class="fas fa-bars"></i>
  </a>

  <input id="navDesktop" type="hidden" readonly value="Expanded">
  <input id="navMobile" type="hidden" readonly value="Collapsed">

  <input id="screenSize" type="hidden" readonly value="">
  <input id="componentName" type="hidden" readonly value="">

  <a id="logo__icon" href="#home" onclick="loadCoverPage()" class="logo__icon"><i class="fa fa-laptop"
      aria-hidden="true"></i>
    <p> Isaac Arias</p>
  </a>
</section>
<!-- End component 1 - Header -->