<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cover Page</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../assets/portfolio_icon.png"
    />

    <!-- Inicio de Inclusión de las hojas de Estilo y la fuente de la Página -->
    <link rel="stylesheet" href="../css/02_cover_page.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- Fin de Inclusión de las hojas de Estilo y la fuente de la Página -->

    <!-- Inicio de inclusión los iconos FontAwesome en la Página -->
    <script
      src="https://kit.fontawesome.com/7932647ae3.js"
      crossorigin="anonymous"
    ></script>
    <!-- Fin de inclusión los iconos FontAwesome en la Página -->
  </head>
  <body class="body">
    <section class="content__cover-page">
      <div class="cover-page__card">
        <img
          class="cover-page__card--img"
          src="../../assets/profile_me.jpg"
          alt="Isaac"
        />
        <div class="cover-page__card--title">
          <div class="title__presentation">
            <p class="title__presentation--me">Hola Soy</p>
            <h1 class="title__presentation--name">Isaac Arias</h1>
          </div>
          <h2 class="cover-page__card--rank">Full Stack Developer</h2>
        </div>
      </div>
    </section>
  </body>
</html>
