<section id="home" class="content__cover-page">
  <div class="cover-page__card">
    <img
      class="cover-page__card--img"
      src="./assets/profile_me.jpg"
      alt="Isaac"
    />
    <div class="cover-page__card--title">
      <div class="title__presentation">
        <p class="title__presentation--me">Hola Soy</p>
        <h1 class="title__presentation--name">Isaac Arias</h1>
      </div>
      <h2 class="cover-page__card--rank">Full Stack Developer</h2>
    </div>
    <!-- <a href="">next</a> -->
  </div>
</section>
