<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../assets/portfolio_icon.png"
    />
    <link rel="stylesheet" href="../css/02_sidebar.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- Fin de Inclusión de las hojas de Estilo y la fuente de la Página -->
    <!-- Inicio de inclusión los iconos FontAwesome en la Página -->
    <script
      src="https://kit.fontawesome.com/7932647ae3.js"
      crossorigin="anonymous"
    ></script>
    <!-- Fin de inclusión los iconos FontAwesome en la Página -->
  </head>
  <body id="body" class="body">
    <nav id="sidebar" class="sidebar">
      <ul id="sidebarExpanded" class="sidebar__list expanded">
        <li class="list__item">
          <a title="Sobre mí" href="#about-me" onclick="loadAboutMe()">
            <i class="fa fa-user" aria-hidden="true"></i>
            <p>Sobre mí</p>
          </a>
        </li>

        <li class="list__item">
          <a title="Servicios" href="#services" onclick="loadServices()">
            <i class="fa fa-code" aria-hidden="true"></i>
            <p>Servicios</p>
          </a>
        </li>

        <li class="list__item">
          <a title="Habilidades" href="#skills" onclick="loadSkills()">
            <i class="fa fa-pencil-alt" aria-hidden="true"></i>
            <p>Habilidades</p>
          </a>
        </li>

        <li class="list__item">
          <a title="Proyectos" href="#proyects" onclick="loadProyects()">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
            <p>Proyectos</p>
          </a>
        </li>

        <li class="list__item">
          <a title="Contacto" href="#contact" onclick="loadContact()">
            <i class="fa fa-comment-alt" aria-hidden="true"></i>
            <p>Contacto</p>
          </a>
        </li>
      </ul>

      <ul id="sidebarCollapsed" class="sidebar__list collapsed">
        <li class="list__item--collapsed">
          <a title="Sobre mí" href="#about-me" onclick="loadAboutMe()">
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
        </li>

        <li class="list__item--collapsed">
          <a title="Servicios" href="#services" onclick="loadServices()">
            <i class="fa fa-code" aria-hidden="true"></i>
          </a>
        </li>

        <li class="list__item--collapsed">
          <a title="Habilidades" href="#skills" onclick="loadSkills()">
            <i class="fa fa-pencil-alt" aria-hidden="true"></i>
          </a>
        </li>

        <li class="list__item--collapsed">
          <a title="Proyectos" href="#proyects" onclick="loadProyects()">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
          </a>
        </li>

        <li class="list__item--collapsed">
          <a title="Contacto" href="#contact" onclick="loadContact()">
            <i class="fa fa-comment-alt" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
