<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../assets/portfolio_icon.png"
    />
    <link rel="stylesheet" href="../css/02_sidebar.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- Fin de Inclusión de las hojas de Estilo y la fuente de la Página -->
    <!-- Inicio de inclusión los iconos FontAwesome en la Página -->
    <script
      src="https://kit.fontawesome.com/7932647ae3.js"
      crossorigin="anonymous"
    ></script>
    <!-- Fin de inclusión los iconos FontAwesome en la Página -->
  </head>
  <body id="body" class="body">
    <section id="sidebar" class="sidebar">
      <nav id="sidebar__navbar" class="sidebar__navbar">
        <ul id="navbar__list" class="navbar__list">
          <li class="list__item">
            <a
              title="Sobre mí"
              id="aboutme_link"
              href="#about-me"
              onclick="loadAboutMe()"
              ><i class="fa fa-user" aria-hidden="true"></i>
              <p id="aboutme">Sobre mí</p></a
            >
          </li>
          <li class="list__item">
            <a
              title="Servicios"
              id="services_link"
              href="#services"
              onclick="loadServices()"
              ><i class="fa fa-code"></i>
              <p id="services">Servicios</p>
            </a>
          </li>
          <li class="list__item">
            <a
              title="Habilidades"
              id="skills_link"
              href="#skills"
              onclick="loadSkills()"
              ><i class="fas fa-pencil-alt"></i>
              <p id="skills">Habilidades</p></a
            >
          </li>
          <li class="list__item">
            <a
              title="Proyectos"
              id="proyects_link"
              href="#proyects"
              onclick="loadProyects()"
              ><i class="fas fa-briefcase"></i>
              <p id="proyects">Proyectos</p>
            </a>
          </li>
          <li class="list__item">
            <a
              title="Contacto"
              id="contact_link"
              href="#contact"
              onclick="loadContact()"
              ><i class="far fa-comment-alt"></i>
              <p id="contact">Contacto</p></a
            >
          </li>
        </ul>
      </nav>
    </section>
  </body>
</html>
