<ul id="sidebarExpanded" class="sidebar__list expanded">
  <li class="list__item">
    <a title="Sobre mí" href="#about-me" onclick="loadAboutMe()">
      <i class="fa fa-user" aria-hidden="true"></i>
      <p>Sobre mí</p>
    </a>
  </li>

  <li class="list__item">
    <a title="Servicios" href="#services" onclick="loadServices()">
      <i class="fa fa-code" aria-hidden="true"></i>
      <p>Servicios</p>
    </a>
  </li>

  <li class="list__item">
    <a title="Habilidades" href="#skills" onclick="loadSkills()">
      <i class="fa fa-pencil-alt" aria-hidden="true"></i>
      <p>Habilidades</p>
    </a>
  </li>

  <li class="list__item">
    <a title="Proyectos" href="#proyects" onclick="loadProyects()">
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <p>Proyectos</p>
    </a>
  </li>

  <li class="list__item">
    <a title="Contacto" href="#contact" onclick="loadContact()">
      <i class="fa fa-comment-alt" aria-hidden="true"></i>
      <p>Contacto</p>
    </a>
  </li>
</ul>

<ul id="sidebarCollapsed" class="sidebar__list collapsed">
  <li class="list__item--collapsed">
    <a title="Sobre mí" href="#about-me" onclick="loadAboutMe()">
      <i class="fa fa-user" aria-hidden="true"></i>
    </a>
  </li>

  <li class="list__item--collapsed">
    <a title="Servicios" href="#services" onclick="loadServices()">
      <i class="fa fa-code" aria-hidden="true"></i>
    </a>
  </li>

  <li class="list__item--collapsed">
    <a title="Habilidades" href="#skills" onclick="loadSkills()">
      <i class="fa fa-pencil-alt" aria-hidden="true"></i>
    </a>
  </li>

  <li class="list__item--collapsed">
    <a title="Proyectos" href="#proyects" onclick="loadProyects()">
      <i class="fa fa-briefcase" aria-hidden="true"></i>
    </a>
  </li>

  <li class="list__item--collapsed">
    <a title="Contacto" href="#contact" onclick="loadContact()">
      <i class="fa fa-comment-alt" aria-hidden="true"></i>
    </a>
  </li>
</ul>
