<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre Mi</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../assets/portfolio_icon.png"
    />
    <link rel="stylesheet" href="../css/03_about_me.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/7932647ae3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="body">
    <section id="about-me" class="content__about-me">
      <h1 class="repair__page">Sección Sobre mí aun en construcción</h1>
      <!-- <div class="about-me__card">
        <h1 class="about-me__card-title">Sobre Mí</h1>
        <p class="about-me__card-p">
          Mi Nombre es Isaac Arias soy Ingeniero en Sistemas y Computación,
          cuento con experiencia como Desarrollador Web y también como
          programador para aplicaciones de escritorio.
        </p>

        <p class="about-me__card-p">
          Me gusta mucho trabajar en base a objetivos y también brindar
          soluciones a los problemas por medio de la toma de requerimientos,
          diagramas de bases de datos, agendar los productos para cada entrega y
          por último validar que todo tenga el funcionamiento acordado por el
          cliente.
        </p>

        <p class="about-me__card-p">
          He brindado soluciones para ONG y Empresas de ámbito industrial y
          tecnológicas desde aplicaciones que registren de datos, roles de
          usuarios, llevar el control de inventario, facturación y cotizaciones;
          y por último generar reportes de tipo cuadro y gráficos.
        </p>
        <div class="buttons-card">
          <a
            title="Regresar a Inicio"
            href="#home"
            onclick="loadCoverPage()"
            class="buttons-card__component"
            ><i
              class="fas fa-angle-double-left right_button"
              aria-hidden="true"
            ></i
            >Inicio</a
          >
          <a
            title="Ir a Servicios"
            href="#services"
            onclick="loadServices()"
            class="buttons-card__component"
            >Servicios<i
              class="fas fa-angle-double-right left_button"
              aria-hidden="true"
            ></i
          ></a>
        </div>
      </div> -->
    </section>
  </body>
</html>
