<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre Mi</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/portfolio_icon.png"
    />

    <!-- Inicio de Inclusión de las hojas de Estilo y la fuente de la Página -->
    <link rel="stylesheet" href="/components/css/03_about_me.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,900;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- Fin de Inclusión de las hojas de Estilo y la fuente de la Página -->

    <!-- Inicio de inclusión los iconos FontAwesome en la Página -->
    <script
      src="https://kit.fontawesome.com/7932647ae3.js"
      crossorigin="anonymous"
    ></script>
    <!-- Fin de inclusión los iconos FontAwesome en la Página -->
  </head>
  <body class="body">
    <section class="content__about-me">
      <div class="about-me__card">
        <h1 class="about-me__card-title">Sobre Mí</h1>
        <p class="about-me__card-p">
          Mi Nombre es Isaac Arias soy Ingeniero en Sistemas y Computación,
          cuento con experiencia como Desarrollador Web y también como
          programador para aplicaciones de escritorio.
        </p>

        <p class="about-me__card-p">
          Me gusta mucho trabajar en base a objetivos y también brindar
          soluciones a los problemas por medio de la toma de requerimientos,
          diagramas de bases de datos, agendar los productos para cada entrega y
          por último validar que todo tenga el funcionamiento acordado por el
          cliente.
        </p>

        <p class="about-me__card-p">
          He brindado soluciones para ONG y Empresas de ámbito industrial y
          tecnológicas desde aplicaciones que registren de datos, roles de
          usuarios, llevar el control de inventario, facturación y cotizaciones;
          y por último generar reportes de tipo cuadro y gráficos.
        </p>
      </div>
    </section>
  </body>
</html>
