<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portada</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../assets/portfolio_icon.png"
    />
    <link rel="stylesheet" href="../css/03_cover_page.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/7932647ae3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="body">
    <section id="home" class="content__cover-page">
      <div class="cover-page__card">
        <div class="cover-page__card--profile">
          <figure class="profile__fig">
            <img
              class="profile__fig--img"
              src="./assets/profile_me.jpg"
              alt="Isaac"
            />
          </figure>
          <div class="profile__title">
            <div class="profile__title--presentation">
              <p class="presentation__me">Hola Soy</p>
              <h1 class="presentation__name">Isaac Arias</h1>
            </div>
            <h2 class="profile__title--rank">Full Stack Developer</h2>
          </div>
        </div>
        <div class="cover-page__card--buttons">
          <!-- <a href="#" class="nav-button"
            ><i class="fas fa-arrow-circle-left"></i
          ></a> -->
          <a
            href="#about-me"
            onclick="loadAboutMe()"
            class="nav-button"
            title="Sobre mí"
            ><i class="fas fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </section>
  </body>
</html>
