<div class="cover-page__card">
  <figure class="cover-page__card--profile-fig">
    <img class="profile-fig__img" src="./assets/profile_me.jpg" alt="Isaac" />
  </figure>
  <div class="cover-page__card--title">
    <p class="title__me">Hola Soy</p>
    <h1 class="title__name">Isaac Arias</h1>
    <h2 class="title__rank">Full Stack Developer</h2>
  </div>
</div>

<div class="cover-page__buttons">
  <a href="#about-me" onclick="loadAboutMe()" class="nav-button" title="Sobre mí"><i class="fas fa-arrow-right"></i></a>
</div>