<div class="about-me__card">
  <h1 class="about-me__card-title">Sobre Mí</h1>
  <p class="about-me__card-p">
    Mi Nombre es Isaac Arias soy Ingeniero en Sistemas y Computación,
    cuento con experiencia como Desarrollador Web y también como
    programador para aplicaciones de escritorio.
  </p>

  <p class="about-me__card-p">
    Me gusta mucho trabajar en base a objetivos y también brindar
    soluciones a los problemas por medio de la toma de requerimientos,
    diagramas de bases de datos, agendar los productos para cada entrega y
    por último validar que todo tenga el funcionamiento acordado por el
    cliente.
  </p>

  <p class="about-me__card-p">
    He brindado soluciones para ONG y Empresas de ámbito industrial y
    tecnológicas desde aplicaciones que registren de datos, roles de
    usuarios, llevar el control de inventario, facturación y cotizaciones;
    y por último generar reportes de tipo cuadro y gráficos.
  </p>
</div>

<div class="about-me__buttons">
  <a href=" #home" onclick="loadCoverPage()" class="nav-button" title="Inicio"><i class="fas fa-home"></i></a>
  <a href="#services" onclick="loadServices()" class="nav-button" title="Servicios"><i
      class="fas fa-arrow-right"></i></a>
</div>