<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout Portafolio 2.0</title>

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../assets/portfolio_icon.png"
    />

    <!-- Inicio de Inclusión de las hojas de Estilo y la fuente de la Página -->
    <link rel="stylesheet" href="../css/04_layout.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,900;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- Fin de Inclusión de las hojas de Estilo y la fuente de la Página -->

    <!-- Inicio de inclusión los iconos FontAwesome en la Página -->
    <script
      src="https://kit.fontawesome.com/7932647ae3.js"
      crossorigin="anonymous"
    ></script>
    <!-- Fin de inclusión los iconos FontAwesome en la Página -->
  </head>
  <body>
    <header class="header">
      <section class="header__logo">Logo</section>
      <section class="header__menu">Menu</section>
    </header>
    <main class="content">
      <section class="content__cover-page">Portada de presentacion</section>
      <section class="content__about-me">Sobre Mi</section>
      <section class="content__services">Servicios</section>
      <section class="content__works">Proyectos Realizados</section>
      <section class="content__contact">Contacto</section>
    </main>
    <footer class="footer">Footer</footer>
  </body>
</html>
