<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servicios</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../assets/portfolio_icon.png"
    />

    <!-- Inicio de Inclusión de las hojas de Estilo y la fuente de la Página -->
    <link rel="stylesheet" href="../css/04_services.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,900;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- Fin de Inclusión de las hojas de Estilo y la fuente de la Página -->

    <!-- Inicio de inclusión los iconos FontAwesome en la Página -->
    <script
      src="https://kit.fontawesome.com/7932647ae3.js"
      crossorigin="anonymous"
    ></script>
    <!-- Fin de inclusión los iconos FontAwesome en la Página -->
  </head>
  <body class="body">
    <section id="services" class="content__services">
      <h1 class="services__title">Lo que hago</h1>
      <div class="services-card">
        <div class="services-card__dev">Diseño</div>
        <div class="services-card__dev">Desarrollo</div>
      </div>

      <h1 class="services__title">Habilidades</h1>
      <div class="services-card__skils">
        <div class="services-card">
          <div>Habilidad 1</div>
          <div>Habilidad 2</div>
          <div>Habilidad 3</div>
          <div>Habilidad 4</div>
        </div>
        <div class="services-card">
          <div>Habilidad 5</div>
          <div>Habilidad 6</div>
          <div>Habilidad 7</div>
          <div>Habilidad 8</div>
        </div>
      </div>
    </section>
  </body>
</html>
