<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyectos</title>
  </head>
  <body class="body">
    <section id="proyects" class="content__proyects">
      <h1>Sección Proyectos realizados aun en construcción</h1>
      <!-- <h1 class="services__title">Lo que hago</h1>
      <div class="services-card">
        <div class="services-card__dev">Diseño</div>
        <div class="services-card__dev">Desarrollo</div>
      </div>

      <h1 class="services__title">Habilidades</h1>
      <div class="services-card__skils">
        <div class="services-card">
          <div>Habilidad 1</div>
          <div>Habilidad 2</div>
          <div>Habilidad 3</div>
          <div>Habilidad 4</div>
        </div>
        <div class="services-card">
          <div>Habilidad 5</div>
          <div>Habilidad 6</div>
          <div>Habilidad 7</div>
          <div>Habilidad 8</div>
        </div>
      </div> -->
    </section>
  </body>
</html>
