<section id="services" class="services">
  <div class="services__card">
    <h1 class="services__card--title">Servicios</h1>

    <div class="services__card--dev">
      <div class="dev__subtitle">
        <span class="subtitle__icon"><i class="fas fa-chart-pie"></i></span>
        <h3 class="subtitle__name">Diseño</h3>
      </div>
      <ul class="dev__list">
        <li class="dev__list--item">Acceso y Registro de usuarios.</li>
        <li class="dev__list--item">Formularios bien estructurados.</li>
        <li class="dev__list--item">Módulo para mantenimiento de datos.</li>
        <li class="dev__list--item">Módulo de gestión de inventario.</li>
        <li class="dev__list--item">
          Módulo de Dashboard con gráficos, filtros y contadores.
        </li>
        <li class="dev__list--item">
          Módulo de reporteria con filtrado de datos.
        </li>
        <li class="dev__list--item">
          Adaptar diseños con diferentes tamaños para dispositivo.
        </li>
        <li class="dev__list--item">
          Utilizar paletas de colores brindadas para su sitio o aplicación web.
        </li>
        <li class="dev__list--item">
          Diseño de Logotipos y barras de navegación.
        </li>
      </ul>
    </div>

    <div class="services__card--dev">
      <div class="dev__subtitle">
        <span class="subtitle__icon"><i class="far fa-keyboard"></i></span>
        <h3 class="subtitle__name">Desarrollo</h3>
      </div>
      <ul class="dev__list">
        <li class="dev__list--item">Diagrama de caso de uso.</li>
        <li class="dev__list--item">Diagrama de base de datos.</li>
        <li class="dev__list--item">Migración de datos desde un archivo CSV.</li>
        <li class="dev__list--item">
          Funciones para mostrar mensajes al usuario.
        </li>
        <li class="dev__list--item">Funciones para registro de datos.</li>
        <li class="dev__list--item">
          Funciones para validar actividades por roles de usuario.
        </li>
        <li class="dev__list--item">
          Funciones matemáticas para realizar calculos y operaciones.
        </li>
        <li class="dev__list--item">
          Exportar reportes desde formulario en PDF y Excel.
        </li>
      </ul>
    </div>
  </div>

  <div class="services__buttons">
    <a href=" #about-me" onclick="loadAboutMe()" class="nav-button" title="Sobre mí"><i
        class="fas fa-arrow-left"></i></a>
    <a href="#skills" onclick="loadSkills()" class="nav-button" title="Habilidades"><i
        class="fas fa-arrow-right"></i></a>
  </div>
</section>