<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habilidades</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../assets/portfolio_icon.png"
    />
    <link rel="stylesheet" href="../css/05_skills.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/7932647ae3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="body">
    <section id="skills" class="content__skills">
      <h1 class="repair__page">Sección Habilidades esta en construcción</h1>
    </section>
  </body>
</html>
