<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
  </head>
  <body class="body">
    <section class="content__contact">
      <div class="contact__card">
        <h1 class="contact__card--title">Contacto</h1>
        <p class="contact__card--p">
          ¿Quieres que transforme tu idea en un producto para la solución a
          problemas especificos? sigueme en mis redes sociales para conocerme
          mejor.
        </p>

        <h2 class="contact__card--subtitle">Puedes encontrarme en</h2>
        <ul class="contact__social--media">
          <li class="social--media__item">
            <a title="Email" href="#" class="social--media__button"
              ><i class="far fa-envelope"></i
            ></a>
          </li>
          <li class="social--media__item">
            <a title="LinkedIn" href="#" class="social--media__button"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li class="social--media__item">
            <a title="GitHub" href="#" class="social--media__button"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li class="social--media__item">
            <a title="Twitter" href="#" class="social--media__button"
              ><i class="fab fa-twitter-square"></i
            ></a>
          </li>
          <li class="social--media__item">
            <a title="Instagram" href="#" class="social--media__button"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
          <li class="social--media__item">
            <a title="CV" href="#" class="social--media__button"
              ><i class="far fa-file-pdf"></i
            ></a>
          </li>
        </ul>

        <a title="Regresar a inicio" href="#header" class="buttons-card__home"
          ><i class="fas fa-angle-double-up" aria-hidden="true"></i
        ></a>
      </div>
    </section>
  </body>
</html>
