<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyects</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../assets/portfolio_icon.png"
    />
    <link rel="stylesheet" href="../css/06_proyects.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- Fin de Inclusión de las hojas de Estilo y la fuente de la Página -->
    <!-- Inicio de inclusión los iconos FontAwesome en la Página -->
    <script
      src="https://kit.fontawesome.com/7932647ae3.js"
      crossorigin="anonymous"
    ></script>
    <!-- Fin de inclusión los iconos FontAwesome en la Página -->
  </head>
  <body class="body">
    <section id="proyects" class="content__proyects">
      <div class="proyects__card">
        <h1>Sistema de Inventario - Proyecto propio 2019</h1>
        <figure>
          <img src="../../assets/Inventario_Laravel.jfif" alt="" />
          <figcaption>HTML, PHP 7, Laravel 6, CSS 3, MySQL</figcaption>
        </figure>
        <a href="http://inven-laravel.atwebpages.com/" target="_blank"
          >Abrir aplicación Web Laravel</a
        >
        <p>
          Aplicación web realizada en Laravel 6 con base de datos MySQL
          implementando los roles de usuarios, mantenimiento de datos CRUD y las
          funciones principales de agregar nuevos productos, sumar y restar la
          cantidad de productos con su respectiva bitacora de movimientos con el
          objetivo de lograr mantener el proceso de como funciona un inventario.
        </p>
      </div>

      <!-- <div class="proyects__card">
        <h1>Platzi Video - Diseño 2021</h1>
        <figure>
          <img src="../../assets/Inventario_Laravel.jfif" alt="" />
          <figcaption>HTML, PHP 7, Laravel 6, CSS 3, MySQL</figcaption>
        </figure>
        <a href="http://inven-laravel.atwebpages.com/" target="_blank"
          >Abrir aplicación Web Laravel</a
        >
        <p>
          Aplicación web realizada en Laravel 6 con base de datos MySQL
          implementando los roles de usuarios, mantenimiento de datos CRUD y las
          funciones principales de agregar nuevos productos, sumar y restar la
          cantidad de productos con su respectiva bitacora de movimientos con el
          objetivo de lograr mantener el proceso de como funciona un inventario.
        </p>
      </div> -->
    </section>
  </body>
</html>
