<section class="skills__card">
  <h1 class="skills__card--title">Habilidades</h1>

  <div class="skills__card--list">
    <div class="skills__list--item">
      <span class="list__icon"><i class="fab fa-html5 color-html5"></i></span>
      <h2 class="list__title">HTML</h2>
    </div>
    <div class="skills__list--item">
      <span class="list__icon"><i class="fab fa-css3-alt color-css3"></i></span>
      <h2 class="list__title">CSS</h2>
    </div>
    <div class="skills__list--item">
      <span class="list__icon"><i class="fab fa-js-square color-js"></i></span>
      <h2 class="list__title">JavaScript</h2>
    </div>
    <div class="skills__list--item">
      <span class="list__icon"
        ><i class="fab fa-bootstrap color-bootstrap"></i
      ></span>
      <h2 class="list__title">Bootstrap</h2>
    </div>
    <div class="skills__list--item">
      <span class="list__icon"><i class="fab fa-php color-php"></i></span>
      <h2 class="list__title">PHP</h2>
    </div>
    <div class="skills__list--item">
      <span class="list__icon"><i class="fab fa-python color-python"></i></span>
      <h2 class="list__title">Python</h2>
    </div>
    <!-- <div class="skills__list--item">
      <span class="list__icon"><i class="fab fa-html5"></i></span>
      <h2 class="list__title">HTML</h2>
    </div>
    <div class="skills__list--item">
      <span class="list__icon"><i class="fab fa-html5"></i></span>
      <h2 class="list__title">HTML</h2>
    </div>
    <div class="skills__list--item">
      <span class="list__icon"><i class="fab fa-html5"></i></span>
      <h2 class="list__title">HTML</h2>
    </div> -->
  </div>
</section>

<!-- <div class="about-me__buttons">
  <a href=" #home" onclick="loadCoverPage()" class="nav-button" title="Inicio"><i class="fas fa-home"></i></a>
  <a href="#services" onclick="loadServices()" class="nav-button" title="Servicios"><i
      class="fas fa-arrow-right"></i></a>
</div> -->
