<section class="skills__card">
  <h1 class="skills__card--title">Habilidades</h1>

  <div class="skills__card--stack">
    <div class="stack__subtitle-sk">
      <span class="subtitle-sk__icon"><img class="subtitle-sk__icon--img" src="./assets/icons_skills/frontend.png"
          alt="" /></span>
      <h3 class="subtitle-sk__name">FrontEnd</h3>
    </div>
    <ul class="stack__list-sk">
      <li class="list-sk__item">
        <span class="list-sk__item--icon"><i class="fab fa-html5 color-html5"></i></span>
        <h2 class="list-sk__item--title">HTML</h2>
      </li>
      <li class="list-sk__item">
        <span class="list-sk__item--icon"><i class="fab fa-css3-alt color-css3"></i></span>
        <h2 class="list-sk__item--title">CSS</h2>
      </li>
      <li class="list-sk__item">
        <span class="list-sk__item--icon"><i class="fab fa-sass color-sass"></i></span>
        <h2 class="list-sk__item--title">Sass</h2>
      </li>
      <li class="list-sk__item">
        <span class="list-sk__item--icon"><i class="fab fa-bootstrap color-bootstrap"></i></span>
        <h2 class="list-sk__item--title">Bootstrap</h2>
      </li>
      <li class="list-sk__item">
        <span class="list-sk__item--icon"><i class="fab fa-js-square color-js"></i></span>
        <h2 class="list-sk__item--title">JavaScript</h2>
      </li>
      <li class="list-sk__item">
        <span class="list-sk__item--icon"><i class="fab fa-github-square color-git"></i></span>
        <h2 class="list-sk__item--title">Git/GitHub</h2>
      </li>
    </ul>
  </div>

  <div class="skills__card--stack">
    <div class="stack__subtitle-sk">
      <span class="subtitle-sk__icon"><img class="subtitle-sk__icon--img" src="./assets/icons_skills/backend.png"
          alt="" /></span>
      <h3 class="subtitle-sk__name">BackEnd</h3>
    </div>
    <ul class="stack__list-sk">
      <li class="list-sk__item">
        <span class="list-sk__item--icon"><i class="fab fa-php color-php"></i></span>
        <h2 class="list-sk__item--title">PHP</h2>
      </li>
      <li class="list-sk__item">
        <span class="list-sk__item--icon"><i class="fab fa-laravel color-laravel"></i></span>
        <h2 class="list-sk__item--title">Laravel</h2>
      </li>
      <li class="list-sk__item">
        <span class="list-sk__item--icon"><img class="icon__img-sk" src="./assets/icons_skills/python_icon.png"
            alt="" /></span>
        <h2 class="list-sk__item--title">Python</h2>
      </li>
      <li class="list-sk__item">
        <span class="list-sk__item--icon"><img class="icon__img-sk" src="./assets/icons_skills/csharp_icon.png"
            alt="" /></span>
        <h2 class="list-sk__item--title">C#</h2>
      </li>

      <li class="list-sk__item">
        <span class="list-sk__item--icon"><img class="icon__img-sk" src="./assets/icons_skills/net_core_icon.png"
            alt="" /></span>
        <h2 class="list-sk__item--title">.NET Core</h2>
      </li>

      <li class="list-sk__item">
        <span class="list-sk__item--icon"><i class="fab fa-node-js color-nodejs"></i></span>
        <h2 class="list-sk__item--title">Node JS</h2>
      </li>

      <li class="list-sk__item">
        <span class="list-sk__item--icon"><img class="icon__img-sk" src="./assets/icons_skills/express_icon.png"
            alt="" /></span>
        <h2 class="list-sk__item--title">Express JS</h2>
      </li>

      <li class="list-sk__item">
        <span class="list-sk__item--icon"><img class="icon__img-sk" src="./assets/icons_skills/mysql_icon.png"
            alt="" /></span>
        <h2 class="list-sk__item--title">MySQL</h2>
      </li>

      <li class="list-sk__item">
        <span class="list-sk__item--icon"><img class="icon__img-sk" src="./assets/icons_skills/postgress_icon.png"
            alt="" /></span>
        <h2 class="list-sk__item--title">PostgreSQL</h2>
      </li>

      <li class="list-sk__item">
        <span class="list-sk__item--icon"><img class="icon__img-sk" src="./assets/icons_skills/sql_server_icon.png"
            alt="" /></span>
        <h2 class="list-sk__item--title">SQL Server</h2>
      </li>
    </ul>
  </div>
</section>

<div class="skills__buttons">
  <a href=" #services" onclick="loadServices()" class="nav-button" title="Servicios"><i
      class="fas fa-arrow-left"></i></a>
  <a href="#proyects" onclick="loadProyects()" class="nav-button" title="Proyectos"><i
      class="fas fa-arrow-right"></i></a>
</div>