<div class="proyects__card">
  <h1 class="proyects__card--title">Proyectos</h1>
  <div class="proyects__card--work">
    <figure class="work__details">
      <img src="./assets/Inventario_Laravel_2.jfif" alt="" class="work__details--img" />
      <figcaption class="work__details--caption">HTML, PHP 7, Laravel 6, CSS 3, MySQL</figcaption>
    </figure>
    <h2 class="work__subtitle">Sistema de Inventario - Proyecto propio 2019</h2>

    <a href="http://inven-laravel.atwebpages.com/" target="_blank" class="work__button">Ver demo</a>
    <p class="work__p">
      Aplicación web realizada en Laravel 6 con base de datos MySQL
      implementando los roles de usuarios, mantenimiento de datos CRUD y las
      funciones principales de agregar nuevos productos, sumar y restar la
      cantidad de productos con su respectiva bitacora de movimientos con el
      objetivo de lograr mantener el proceso de como funciona un inventario.
    </p>
  </div>
</div>

<!-- <div class="proyects__card">
        <h1>Platzi Video - Diseño 2021</h1>
        <figure>
          <img src="../../assets/Inventario_Laravel.jfif" alt="" />
          <figcaption>HTML, PHP 7, Laravel 6, CSS 3, MySQL</figcaption>
        </figure>
        <a href="http://inven-laravel.atwebpages.com/" target="_blank"
          >Abrir aplicación Web Laravel</a
        >
        <p>
          Aplicación web realizada en Laravel 6 con base de datos MySQL
          implementando los roles de usuarios, mantenimiento de datos CRUD y las
          funciones principales de agregar nuevos productos, sumar y restar la
          cantidad de productos con su respectiva bitacora de movimientos con el
          objetivo de lograr mantener el proceso de como funciona un inventario.
        </p>
      </div> -->