<section class="proyects__card">
  <h1 class="proyects__card--title">Proyectos</h1>
  <!-- <div class="proyects__card--work">
    <figure class="work__details">
      <img src="./assets/invent_laravel.JPG" alt="" class="work__details--img" />
      <figcaption class="work__details--subtitle">Gestión de Consultorias SAC - 2016-2017</figcaption>
    </figure>


    <p class="work__description">
      -
    </p>

    <div class="work__demo">
      <a href="http://inven-laravel.atwebpages.com/" target="_blank" class="work__demo--button">Ver demo</a>

      <h2 class="work__demo--skills">-</h2>
    </div>

  </div>

  <div class="proyects__card--work">
    <figure class="work__details">
      <img src="./assets/invent_laravel.JPG" alt="" class="work__details--img" />
      <figcaption class="work__details--subtitle">Seguimiento de cartas - 2017</figcaption>
    </figure>


    <p class="work__description">
      -
    </p>

    <div class="work__demo">
      <a href="http://inven-laravel.atwebpages.com/" target="_blank" class="work__demo--button">Ver demo</a>

      <h2 class="work__demo--skills">-</h2>
    </div>

  </div>

  <div class="proyects__card--work">
    <figure class="work__details">
      <img src="./assets/invent_laravel.JPG" alt="" class="work__details--img" />
      <figcaption class="work__details--subtitle">Spectrum Tickets - 2018</figcaption>
    </figure>


    <p class="work__description">
      -
    </p>

    <div class="work__demo">
      <a href="http://inven-laravel.atwebpages.com/" target="_blank" class="work__demo--button">Ver demo</a>

      <h2 class="work__demo--skills">-</h2>
    </div>

  </div>

  <div class="proyects__card--work">
    <figure class="work__details">
      <img src="./assets/invent_laravel.JPG" alt="" class="work__details--img" />
      <figcaption class="work__details--subtitle">Gestión de participantes y Beneficios SIPAB 2.0 - 2018</figcaption>
    </figure>


    <p class="work__description">
      -
    </p>

    <div class="work__demo">
      <a href="http://inven-laravel.atwebpages.com/" target="_blank" class="work__demo--button">Ver demo</a>

      <h2 class="work__demo--skills">-</h2>
    </div>

  </div>

  <div class="proyects__card--work">
    <figure class="work__details">
      <img src="./assets/invent_laravel.JPG" alt="" class="work__details--img" />
      <figcaption class="work__details--subtitle">Inventario y Facturación - 2017-2019</figcaption>
    </figure>


    <p class="work__description">
      -
    </p>

    <div class="work__demo">
      <a href="http://inven-laravel.atwebpages.com/" target="_blank" class="work__demo--button">Ver demo</a>

      <h2 class="work__demo--skills">-</h2>
    </div>

  </div> -->

  <div class="proyects__card--work">


    <figure class="work__details">
      <img src="./assets/invent_laravel.jpg" alt="" class="work__details--img" />
      <figcaption class="work__details--subtitle">Inventario Laravel - 2019</figcaption>
    </figure>


    <p class="work__description">
      Aplicación web realizada en Laravel 6 con implementanción de los roles de usuarios, mantenimiento de datos CRUD y
      las funciones principales de agregar nuevos productos, gestionar la cantidad de productos y la bitacora de
      movimientos realizados en inventario.
    </p>

    <div class="work__demo">
      <a href="http://inven-laravel.atwebpages.com/" target="_blank" class="work__demo--button">Ver demo</a>

      <ul class="work__demo--list">
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-html5 color-html5"></i></span>
          <span class="list__proyect-s--name">HTML</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-css3-alt color-css3"></i></span>
          <span class="list__proyect-s--name">CSS</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-bootstrap color-bootstrap"></i></span>
          <span class="list__proyect-s--name">Bootstrap</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-js-square color-js"></i></span>
          <span class="list__proyect-s--name">JavaScript</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-github-square color-git"></i></span>
          <span class="list__proyect-s--name">Git/GitHub</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-php color-php"></i></span>
          <span class="list__proyect-s--name">PHP</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-laravel color-laravel"></i></span>
          <span class="list__proyect-s--name">Laravel</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><img src="./assets/icons_skills/mysql_icon.png" alt="" /></span>
          <span class="list__proyect-s--name">MySQL</span>
        </li>
      </ul>
    </div>

  </div>

  <div class="proyects__card--work">


    <figure class="work__details">
      <img src="./assets/platzi_video_pt.jpg" alt="" class="work__details--img" />
      <figcaption class="work__details--subtitle">Diseño Platzi Video - 2021</figcaption>
    </figure>


    <p class="work__description">
      Página web realizada con HTML5 y CSS3 en el curso de FrontEnd developer de Platzi con vistas de buscador de
      videos, carrusel de videos, login y registro de usuarios. Además con aprendizaje en el tema de maquetación web con
      Flexbox y CSS Grid.
    </p>

    <div class="work__demo">
      <a href="https://isaac953.github.io/Platzi_Video/" target="_blank" class="work__demo--button">Ver demo</a>

      <ul class="work__demo--list">
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-html5 color-html5"></i></span>
          <span class="list__proyect-s--name">HTML</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-css3-alt color-css3"></i></span>
          <span class="list__proyect-s--name">CSS</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-sass color-sass"></i></span>
          <span class="list__proyect-s--name">Sass</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-github-square color-git"></i></span>
          <span class="list__proyect-s--name">Git/GitHub</span>
        </li>
      </ul>
    </div>

  </div>


  <div class="proyects__card--work">


    <figure class="work__details">
      <img src="./assets/pagina_matematicas.jpg" alt="" class="work__details--img" />
      <figcaption class="work__details--subtitle">Página de Matemáticas - 2021</figcaption>
    </figure>


    <p class="work__description">
      Aplicación web realizada con HTML5, CSS3 y JavaScript en el curso práctico de JavaScript de Platzi con módulo de
      figuras geométricas; promedio, moda y mediana; y costos de salario implementando lo aprendido en los primeros dos
      módulos.
    </p>

    <div class="work__demo">
      <a href="https://isaac953.github.io/platzi-curso-practico-javascript/" target="_blank"
        class="work__demo--button">Ver demo</a>

      <ul class="work__demo--list">
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-html5 color-html5"></i></span>
          <span class="list__proyect-s--name">HTML</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-css3-alt color-css3"></i></span>
          <span class="list__proyect-s--name">CSS</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-js-square color-js"></i></span>
          <span class="list__proyect-s--name">JavaScript</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-github-square color-git"></i></span>
          <span class="list__proyect-s--name">Git/GitHub</span>
        </li>
      </ul>
    </div>

  </div>


  <!-- <div class="proyects__card--work">
    <figure class="work__details">
      <img src="./assets/pagina_matematicas.JPG" alt="" class="work__details--img" />
      <figcaption class="work__details--subtitle">Página de Matemáticas - 2021</figcaption>
    </figure>


    <p class="work__description">
      Aplicación web realizada con HTML5, CSS3 y JavaScript en el curso práctico de JavaScript de Platzi con módulo de
      figuras geométricas; promedio, moda y mediana; y costos de salario implementando lo aprendido en los primeros dos
      módulos.
    </p>

    <div class="work__demo">
      <a href="https://isaac953.github.io/platzi-curso-practico-javascript/" target="_blank"
        class="work__demo--button">Ver demo</a>

      <h2 class="work__demo--skills">HTML5, CSS3 y JavaScript</h2>
    </div>

  </div> -->

</section>


<div class="proyects__buttons">
  <a href=" #skills" onclick="loadSkills()" class="nav-button" title="Habilidades"><i class="fas fa-arrow-left"></i></a>
  <a href="#contact" onclick="loadContact()" class="nav-button" title="Contacto"><i class="fas fa-arrow-right"></i></a>
</div>