<section class="proyects__card">
  <h1 class="proyects__card--title">Proyectos</h1>

  <div class="proyects__card--work">
    <div class="work__carousel">
      <div class="work__carousel--slideshow">
        <div class="slideshow__slide fade active__slide">
          <div class="slideshow__slide--number">1/3</div>
          <img class="slideshow__slide--img" src="./assets/invent_laravel.jpg">
          <div class="slideshow__slide--caption">Vista de Productos en general</div>
        </div>
        <div class="slideshow__slide fade">
          <div class="slideshow__slide--number">2/3</div>
          <img class="slideshow__slide--img" src="./assets/invent_laravel_2.jpg">
          <div class="slideshow__slide--caption">Vista de Producto con sus datos</div>
        </div>
        <div class="slideshow__slide fade">
          <div class="slideshow__slide--number">3/3</div>
          <img class="slideshow__slide--img" src="./assets/invent_laravel_3.jpg">
          <div class="slideshow__slide--caption">Vista de Producto con su bitacora de movimientos</div>
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>

      <div class="work__carousel--dots" style="text-align:center">
        <div class="dot active-dot" onclick="currentSlide(1)"></div>
        <div class="dot" onclick="currentSlide(2)"></div>
        <div class="dot" onclick="currentSlide(3)"></div>
      </div>

      <h1 class="work__carousel--subtitle">
        Inventario Laravel - 2019
      </h1>
    </div>



    <p class="work__description">
      Aplicación web realizada en Laravel 6 con implementanción de los roles de
      usuarios, mantenimiento de datos CRUD y las funciones principales de
      agregar nuevos productos, gestionar la cantidad de productos y la bitacora
      de movimientos realizados en inventario.
    </p>

    <div class="work__demo">
      <a href="http://inven-laravel.atwebpages.com/" target="_blank" class="work__demo--button">Ver demo</a>

      <ul class="work__demo--list">
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-html5 color-html5"></i></span>
          <span class="list__proyect-s--name">HTML</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-css3-alt color-css3"></i></span>
          <span class="list__proyect-s--name">CSS</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-bootstrap color-bootstrap"></i></span>
          <span class="list__proyect-s--name">Bootstrap</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-js-square color-js"></i></span>
          <span class="list__proyect-s--name">JavaScript</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-github-square color-git"></i></span>
          <span class="list__proyect-s--name">Git/GitHub</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-php color-php"></i></span>
          <span class="list__proyect-s--name">PHP</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-laravel color-laravel"></i></span>
          <span class="list__proyect-s--name">Laravel</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><img src="./assets/icons_skills/mysql_icon.png" alt="" /></span>
          <span class="list__proyect-s--name">MySQL</span>
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="proyects__card--work">


    <figure class="work__details">
      <img src="./assets/platzi_video_pt.jpg" alt="" class="work__details--img" />
      <figcaption class="work__details--subtitle">Diseño Platzi Video - 2021</figcaption>
    </figure>


    <p class="work__description">
      Página web realizada con HTML5 y CSS3 en el curso de FrontEnd developer de Platzi con vistas de buscador de
      videos, carrusel de videos, login y registro de usuarios. Además con aprendizaje en el tema de maquetación web con
      Flexbox y CSS Grid.
    </p>

    <div class="work__demo">
      <a href="https://isaac953.github.io/Platzi_Video/" target="_blank" class="work__demo--button">Ver demo</a>

      <ul class="work__demo--list">
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-html5 color-html5"></i></span>
          <span class="list__proyect-s--name">HTML</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-css3-alt color-css3"></i></span>
          <span class="list__proyect-s--name">CSS</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-sass color-sass"></i></span>
          <span class="list__proyect-s--name">Sass</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-github-square color-git"></i></span>
          <span class="list__proyect-s--name">Git/GitHub</span>
        </li>
      </ul>
    </div>

  </div>


  <div class="proyects__card--work">


    <figure class="work__details">
      <img src="./assets/pagina_matematicas.jpg" alt="" class="work__details--img" />
      <figcaption class="work__details--subtitle">Página de Matemáticas - 2021</figcaption>
    </figure>


    <p class="work__description">
      Aplicación web realizada con HTML5, CSS3 y JavaScript en el curso práctico de JavaScript de Platzi con módulo de
      figuras geométricas; promedio, moda y mediana; y costos de salario implementando lo aprendido en los primeros dos
      módulos.
    </p>

    <div class="work__demo">
      <a href="https://isaac953.github.io/platzi-curso-practico-javascript/" target="_blank"
        class="work__demo--button">Ver demo</a>

      <ul class="work__demo--list">
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-html5 color-html5"></i></span>
          <span class="list__proyect-s--name">HTML</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-css3-alt color-css3"></i></span>
          <span class="list__proyect-s--name">CSS</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-js-square color-js"></i></span>
          <span class="list__proyect-s--name">JavaScript</span>
        </li>
        <li class="list__proyect-s">
          <span class="list__proyect-s--icon"><i class="fab fa-github-square color-git"></i></span>
          <span class="list__proyect-s--name">Git/GitHub</span>
        </li>
      </ul>
    </div>

  </div> -->

  <!-- <div class="proyects__card--work">
    <figure class="work__details">
      <img src="./assets/pagina_matematicas.JPG" alt="" class="work__details--img" />
      <figcaption class="work__details--subtitle">Página de Matemáticas - 2021</figcaption>
    </figure>


    <p class="work__description">
      Aplicación web realizada con HTML5, CSS3 y JavaScript en el curso práctico de JavaScript de Platzi con módulo de
      figuras geométricas; promedio, moda y mediana; y costos de salario implementando lo aprendido en los primeros dos
      módulos.
    </p>

    <div class="work__demo">
      <a href="https://isaac953.github.io/platzi-curso-practico-javascript/" target="_blank"
        class="work__demo--button">Ver demo</a>

      <h2 class="work__demo--skills">HTML5, CSS3 y JavaScript</h2>
    </div>

  </div> -->
</section>

<div class="proyects__buttons">
  <a href=" #skills" onclick="loadSkills()" class="nav-button" title="Habilidades"><i class="fas fa-arrow-left"></i></a>
  <a href="#contact" onclick="loadContact()" class="nav-button" title="Contacto"><i class="fas fa-arrow-right"></i></a>
</div>