<section id="contact" class="contact">
  <div class="contact__card">
    <h1 class="contact__card--title">Contacto</h1>
    <p class="contact__card--p">
      ¿Quieres que transforme tu idea en un producto para la solución a
      problemas especificos? sigueme en mis redes sociales o escribeme a mi
      correo.
    </p>

    <h2 class="contact__card--subtitle">Puedes encontrarme en</h2>
    <ul class="contact__social--media">
      <!-- <li class="social--media__item">
            <a title="Email" href="#" class="social--media__button"
              ><i class="far fa-envelope"></i
            ></a>
          </li> -->
      <li class="social--media__item">
        <a title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/isaac-arias-6884a2149/"
          class="social--media__button"><i class="fab fa-linkedin"></i></a>
      </li>
      <!-- <li class="social--media__item">
            <a title="GitHub" href="#" class="social--media__button"
              ><i class="fab fa-github"></i
            ></a>
          </li> -->
      <!-- <li class="social--media__item">
            <a
              title="Twitter"
              target="_blank"
              href="https://twitter.com/Sak_Dark07"
              class="social--media__button"
              ><i class="fab fa-twitter-square"></i
            ></a>
          </li> -->
      <!-- <li class="social--media__item">
            <a title="Instagram" href="#" class="social--media__button"
              ><i class="fab fa-instagram"></i
            ></a>
          </li> -->
      <li class="social--media__item">
        <a title="CV" target="_blank"
          href="https://www.canva.com/design/DAEgSPUMXXA/o2oqn9BFvbXbF5VkgafByg/view?utm_content=DAEgSPUMXXA&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
          class="social--media__button"><i class="far fa-file-pdf"></i></a>
      </li>
    </ul>
  </div>

  <div class="contact__buttons">
    <a href="#home" onclick="loadCoverPage()" class="nav-button" title="Inicio"><i class="fas fa-home"></i></a>
    <!-- <a href="#services" onclick="loadServices()" class="nav-button" title="Servicios"
          ><i class="fas fa-arrow-right"></i></a> -->
  </div>

</section>