<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Isaac Arias - Full Stack Developer</title>
  <link rel="shortcut icon" type="image/x-icon" href="../../assets/portfolio_icon.png" />
  <!-- Inicio de Inclusión de las hojas de Estilo y la fuente de la Página -->
  <link rel="stylesheet" href="../css/11_layout_v2.css" />
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;900&display=swap" rel="stylesheet" />
  <!-- Fin de Inclusión de las hojas de Estilo y la fuente de la Página -->
  <!-- Inicio de inclusión los iconos FontAwesome en la Página -->
  <script src="https://kit.fontawesome.com/7932647ae3.js" crossorigin="anonymous"></script>
  <!-- Fin de inclusión los iconos FontAwesome en la Página -->
</head>

<body class="body">
  <main id="main" class="main">
    <header id="header" class="header">Header</header>
    <section id="main__content" class="main__content">
      <nav id="sidebar" class="sidebar">Menu</nav>
      <section id="content" class="content">Main</section>
    </section>
    <footer id="footer" class="footer">Footer</footer>
  </main>
</body>

<script src="portfolio.js"></script>

</html>