<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>
    <link rel="stylesheet" href="../css/12_carousel.css">
</head>

<body class="body">
    <div class="carousel">
        <div id="carouselInvLaravel-1" class="carousel__item">
            <div id="cardInvLaravel-1" class="carousel__item--card">
                A
                <!-- <img src="../../assets/invent_laravel.jpg">
            <img src="../../assets/platzi_video_pt.jpg">
            <img src="../../assets/pagina_matematicas.jpg">
            <img src="../../assets/city_img.jpg"> -->
            </div>
            <div class="carousel__item--arrows">
                <a href="#carouselInvLaravel-3"><img src="../../assets/left.png" alt="back"></a>
                <a href="#carouselInvLaravel-2"><img src="../../assets/next.png" alt="next"></a>
            </div>
        </div>
        <div id="carouselInvLaravel-2" class="carousel__item">
            <div id="cardInvLaravel-2" class="carousel__item--card">
                B
                <!-- <img src="../../assets/invent_laravel.jpg">
            <img src="../../assets/platzi_video_pt.jpg">
            <img src="../../assets/pagina_matematicas.jpg">
            <img src="../../assets/city_img.jpg"> -->
            </div>
            <div class="carousel__item--arrows">
                <a href="#carouselInvLaravel-1"><img src="../../assets/left.png" alt="back"></a>
                <a href="#carouselInvLaravel-3"><img src="../../assets/next.png" alt="next"></a>
            </div>
        </div>
        <div id="carouselInvLaravel-3" class="carousel__item">
            <div id="cardInvLaravel-3" class="carousel__item--card">
                C
                <!-- <img src="../../assets/invent_laravel.jpg">
            <img src="../../assets/platzi_video_pt.jpg">
            <img src="../../assets/pagina_matematicas.jpg">
            <img src="../../assets/city_img.jpg"> -->
            </div>
            <div class="carousel__item--arrows">
                <a href="#carouselInvLaravel-2"><img src="../../assets/left.png" alt="back"></a>
                <a href="#carouselInvLaravel-1"><img src="../../assets/next.png" alt="next"></a>
            </div>
        </div>

    </div>
    <div class="carouseldots">
        <a href="#carouselInvLaravel-1"><img src="../../assets/black-circle.png" alt="dot"></a>
        <a href="#carouselInvLaravel-2"><img src="../../assets/black-circle.png" alt="dot"></a>
        <a href="#carouselInvLaravel-3"><img src="../../assets/black-circle.png" alt="dot"></a>
    </div>


</body>

<script>


</script>

</html>