<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel 2</title>
    <link rel="stylesheet" href="../css/13_carousel_v2.css">
    <script src="https://kit.fontawesome.com/7932647ae3.js" crossorigin="anonymous"></script>
</head>

<body class="body">
    <div class="carousel__container">
        <ul class="carousel">
            <li id="itemInvLaravel-1" class="carousel__item default">
                <figure id="cardInvLaravel-1" class="carousel__item--cover">1</figure>
                <!-- <figure id="cardInvLaravel-1" class="carousel__item--cover">
                    <img src="../../assets/invent_laravel.jpg">
                </figure> -->
            </li>
            <li id="itemInvLaravel-2" class="carousel__item">
                <figure id="cardInvLaravel-2" class="carousel__item--cover">2</figure>
                <!-- <figure id="cardInvLaravel-2" class="carousel__item--cover">
                    <img src="../../assets/invent_laravel_2.jpg">
                </figure> -->
            </li>
            <li id="itemInvLaravel-3" class="carousel__item">
                <figure id="cardInvLaravel-3" class="carousel__item--cover">3</figure>
                <!-- <figure id="cardInvLaravel-3" class="carousel__item--cover">
                    <img src="../../assets/invent_laravel_3.jpg">
                </figure> -->
            </li>
        </ul>
        <div class="carousel__item--arrows">
            <a id="back" href="#" onclick="back()"><i class="fas fa-chevron-left"></i></a>
            <a id="next" href="#" onclick="next()"><i class="fas fa-chevron-right"></i></a>
        </div>
    </div>

    <div class="carouseldots">
        <input id="inputd" type="text" value="1">
        <a href="#itemInvLaravel-1"><i class="fas fa-circle active"></i></a>
        <a href="#itemInvLaravel-2"><i class="fas fa-circle"></i></a>
        <a href="#itemInvLaravel-3"><i class="fas fa-circle"></i></a>
    </div>

</body>

<script src="../js/carousel.js">
</script>

</html>