<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel 2</title>
    <link rel="stylesheet" href="../css/13_carousel_v2.css">
    <script src="https://kit.fontawesome.com/7932647ae3.js" crossorigin="anonymous"></script>
</head>

<body class="body">
    <ul class="work__details--carousel">
        <li id="carouselInvLaravel-1" class="carousel__item">
            <figure id="cardInvLaravel-1" class="carousel__item--cover">
                <img src="../../assets/invent_laravel.jpg">
            </figure>
            <div class="carousel__item--arrows">
                <a href="#carouselInvLaravel-3"><i class="fas fa-chevron-left"></i></a>
                <a href="#carouselInvLaravel-2"><i class="fas fa-chevron-right"></i></a>
            </div>
        </li>
        <li id="carouselInvLaravel-2" class="carousel__item">
            <figure id="cardInvLaravel-2" class="carousel__item--cover">
                <img src="../../assets/invent_laravel_2.jpg">
            </figure>
            <div class="carousel__item--arrows">
                <a href="#carouselInvLaravel-1"><i class="fas fa-chevron-left"></i></a>
                <a href="#carouselInvLaravel-3"><i class="fas fa-chevron-right"></i></a>
            </div>
        </li>
        <li id="carouselInvLaravel-3" class="carousel__item">
            <figure id="cardInvLaravel-3" class="carousel__item--cover">
                <img src="../../assets/invent_laravel_3.jpg">
            </figure>
            <div class="carousel__item--arrows">
                <a href="#carouselInvLaravel-2"><i class="fas fa-chevron-left"></i></a>
                <a href="#carouselInvLaravel-1"><i class="fas fa-chevron-right"></i></a>
            </div>
        </li>
    </ul>
    <div class="carouseldots">
        <a href="#carouselInvLaravel-1"><i class="fas fa-circle"></i></a>
        <a href="#carouselInvLaravel-2"><i class="fas fa-circle"></i></a>
        <a href="#carouselInvLaravel-3"><i class="fas fa-circle"></i></a>
    </div>
</body>

</html>